Repository angular/components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @angular/components-googlers, @angular/dev-infra-components, @andrewseguin, @jelbourn

.github/CODEOWNERS:

*                                   @angular/components-googlers

/.circleci/                         @angular/dev-infra-components
/.husky/                            @angular/dev-infra-components
/.ng-dev/                           @angular/dev-infra-components
/.vscode/                           @angular/dev-infra-components
/.yarn/                             @angular/dev-infra-components
/scripts/                           @angular/dev-infra-components
/test/                              @angular/dev-infra-components

/.github/                           @angular/dev-infra-components
/.github/CODEOWNERS                 @angular/dev-infra-components @andrewseguin @jelbourn
/.github/ISSUE_TEMPLATE/**          @angular/components-googlers

/tools/                             @angular/dev-infra-components
/tools/public_api_guard/**/*.md     @angular/components-googlers

build(material/stepper): update material api goldens
  goldens/material/stepper/testing/index.api.md
Owners: @angular/components-googlers

fix(cdk/overlay): scroll was blocked when zoomed out even if scrolling wasn't an option
  src/cdk/overlay/scroll/block-scroll-strategy.spec.ts
  src/cdk/overlay/scroll/block-scroll-strategy.ts
Owners: @angular/components-googlers

ci: update to latest dev-infra action versions (#30760)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
Owners: @angular/dev-infra-components

ci: update to latest dev-infra action versions (#30760)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
Owners: @angular/dev-infra-components

fix(cdk-experimental/listbox): ignore spaces during typeahead
  src/cdk-experimental/ui-patterns/behaviors/list-typeahead/list-typeahead.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
Owners: @angular/components-googlers

test(cdk-experimental/ui-patterns): listbox navigation tests
  src/cdk-experimental/ui-patterns/listbox/BUILD.bazel
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
Owners: @angular/components-googlers

fix(material/tabs): allow ID to be set on tab
  goldens/material/tabs/index.api.md
  src/material/tabs/tab-group.html
  src/material/tabs/tab-group.spec.ts
  src/material/tabs/tab-group.ts
  src/material/tabs/tab.ts
Owners: @angular/components-googlers

fix(youtube-player): use safevalues
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  pnpm-lock.yaml
  src/youtube-player/BUILD.bazel
  src/youtube-player/package.json
  src/youtube-player/youtube-player.ts
  yarn.lock
Owners: @angular/components-googlers

fix(youtube-player): add safevalues to package externals
  pkg-externals.bzl
Owners: @angular/components-googlers

fix(youtube-player): add safevalues to package externals
  pkg-externals.bzl
Owners: @angular/components-googlers

fixup! test(cdk-experimental/ui-patterns): listbox navigation tests
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
Owners: @angular/components-googlers

fixup! test(cdk-experimental/ui-patterns): listbox navigation tests
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
Owners: @angular/components-googlers

fixup! test(cdk-experimental/ui-patterns): listbox navigation tests
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
Owners: @angular/components-googlers

test(cdk-experimental/ui-patterns): listbox navigation tests (#30767)
  src/cdk-experimental/ui-patterns/listbox/BUILD.bazel
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
Owners: @angular/components-googlers

build: update angular shared dev-infra code to b3b3466
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/components-googlers

build: update angular shared dev-infra code to b3b3466
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/components-googlers

build: update to new infrastructure for depending on dev-infra browsers
  material.angular.io/WORKSPACE.bazel
  material.angular.io/defs.bzl
Owners: @angular/components-googlers

build: update to new infrastructure for depending on dev-infra browsers
  material.angular.io/WORKSPACE.bazel
  material.angular.io/defs.bzl
Owners: @angular/components-googlers

build: update angular shared dev-infra code to b3b3466 (#30776)
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
  material.angular.io/defs.bzl
Owners: @angular/components-googlers

[Patch] build: update angular shared dev-infra code to b3b3466 (#30777)
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
  material.angular.io/defs.bzl
Owners: @angular/components-googlers

fix(material/tabs): allow ID to be set on tab (#30768)
  goldens/material/tabs/index.api.md
  src/material/tabs/tab-group.html
  src/material/tabs/tab-group.spec.ts
  src/material/tabs/tab-group.ts
  src/material/tabs/tab.ts
Owners: @angular/components-googlers

fix(material/tabs): allow ID to be set on tab (#30768)
  goldens/material/tabs/index.api.md
  src/material/tabs/tab-group.html
  src/material/tabs/tab-group.spec.ts
  src/material/tabs/tab-group.ts
  src/material/tabs/tab.ts
Owners: @angular/components-googlers

perf(cdk-experimental/column-resize): improve hover responsiveness of column resize with requestAnimationFrame
  src/cdk-experimental/column-resize/resizable.ts
Owners: @angular/components-googlers

perf(cdk-experimental/column-resize): improve hover responsiveness of column resize with requestAnimationFrame
  src/cdk-experimental/column-resize/resizable.ts
Owners: @angular/components-googlers

fixup! perf(cdk-experimental/column-resize): improve hover responsiveness of column resize with requestAnimationFrame
  src/cdk-experimental/column-resize/resizable.ts
Owners: @angular/components-googlers

perf(cdk-experimental/column-resize): improve hover responsiveness of… (#30708)
  src/cdk-experimental/column-resize/resizable.ts
Owners: @angular/components-googlers

perf(cdk-experimental/column-resize): improve hover responsiveness of… (#30708)
  src/cdk-experimental/column-resize/resizable.ts
Owners: @angular/components-googlers

Add a null check to autocomplete options (#30734)
  src/material/autocomplete/autocomplete-trigger.ts
  src/material/autocomplete/autocomplete.spec.ts
  src/material/autocomplete/autocomplete.ts
Owners: @angular/components-googlers

Add a null check to autocomplete options (#30734)
  src/material/autocomplete/autocomplete-trigger.ts
  src/material/autocomplete/autocomplete.spec.ts
  src/material/autocomplete/autocomplete.ts
Owners: @angular/components-googlers

test: fix broken autocomplete test
  src/material/autocomplete/autocomplete.spec.ts
Owners: @angular/components-googlers

test: fix broken autocomplete test (#30782)
  src/material/autocomplete/autocomplete.spec.ts
Owners: @angular/components-googlers

test: fix broken autocomplete test (#30782)
  src/material/autocomplete/autocomplete.spec.ts
Owners: @angular/components-googlers

release: cut the v19.2.8 release
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

release: cut the v19.2.8 release
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

docs: release notes for the v19.2.8 release
  CHANGELOG.md
Owners: @angular/components-googlers

docs: release notes for the v19.2.8 release
  CHANGELOG.md
Owners: @angular/components-googlers

release: cut the v20.0.0-next.5 release
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

release: cut the v20.0.0-next.5 release
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

build: migrate all `nodejs_binary` targets to `rules_js`
  package.json
  pnpm-lock.yaml
  src/components-examples/BUILD.bazel
  src/universal-app/BUILD.bazel
  tools/dgeni/BUILD.bazel
  tools/dgeni/index.bzl
  tools/example-module/BUILD.bazel
  tools/extract-tokens/BUILD.bazel
  tools/extract-tokens/index.bzl
  tools/highlight-files/BUILD.bazel
  tools/highlight-files/index.bzl
  tools/markdown-to-html/BUILD.bazel
  tools/markdown-to-html/index.bzl
  tools/package-docs-content/BUILD.bazel
  tools/package-docs-content/index.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: migrate `nodejs_test` targets to `rules_js`
  integration/linker/BUILD.bazel
  integration/linker/link-packages-test.mjs
  tools/server-test/index.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components
