Repository angular/components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @angular/components-googlers, @angular/dev-infra-components, @andrewseguin, @jelbourn

build: remove `patch-package`
  package.json
  pnpm-lock.yaml
  tools/postinstall/BUILD.bazel
  tools/postinstall/apply-patches.js
  tools/postinstall/patches/@angular+bazel+20.0.0-next.3.patch
  tools/postinstall/patches/tsec+0.2.2.patch
Owners: @angular/components-googlers, @angular/dev-infra-components

build: workaround until GCP fixes dependency issue in spanner lib
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

build: disable release `rules_js` hybrid mode
  .ng-dev/release.mts
Owners: @angular/dev-infra-components

build: simplify legacy bundle creation and fix build-tooling dependency
  scripts/create-legacy-tests-bundle.mjs
Owners: @angular/dev-infra-components

build: update ng-dev to include pnpm dependency fix
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

build: add prettier as explicit dependency
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

ci: remove caretaker script which is no longer used
  scripts/caretaking/resync-caretaker-app-prs.ts
Owners: @angular/dev-infra-components

fix(material/chips): icon cut off when text-spacing is increased
  src/material/chips/chip.scss
Owners: @angular/components-googlers

build: update angular-linking to support latest FW releases
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

build: fix dependency issues
  integration/harness-e2e-cli/package.json
  integration/harness-e2e-cli/pnpm-lock.yaml
  integration/yarn-pnp-compat/package.json
  integration/yarn-pnp-compat/yarn.lock
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

.github/CODEOWNERS:

*                                   @angular/components-googlers

/.circleci/                         @angular/dev-infra-components
/.husky/                            @angular/dev-infra-components
/.ng-dev/                           @angular/dev-infra-components
/.vscode/                           @angular/dev-infra-components
/scripts/                           @angular/dev-infra-components
/test/                              @angular/dev-infra-components

/.github/                           @angular/dev-infra-components
/.github/CODEOWNERS                 @angular/dev-infra-components @andrewseguin @jelbourn
/.github/ISSUE_TEMPLATE/**          @angular/components-googlers

/tools/                             @angular/dev-infra-components
