Repository angular/components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @angular/components-googlers, @angular/dev-infra-components, @andrewseguin, @jelbourn

refactor(cdk-experimental/listbox): rename multiselectable to multi (#30804)
  src/cdk-experimental/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.html
Owners: @angular/components-googlers

build: update angular shared dev-infra code to e4bf37a (#30805)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

docs(material/chips): fix aria-label binding of chips-form-control-example (#30811)
  src/components-examples/material/chips/chips-form-control/chips-form-control-example.html
Owners: @angular/components-googlers

feat(cdk-experimental/listbox): readonly mode (#30803)
  src/cdk-experimental/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.ts
Owners: @angular/components-googlers

fix(multiple): rename hardcoded tokens that were renamed (#30807)
  src/material/button-toggle/button-toggle.scss
  src/material/core/option/option.scss
  src/material/core/tokens/_density.scss
  src/material/datepicker/calendar.scss
  src/material/progress-spinner/progress-spinner.ts
  src/material/slide-toggle/_slide-toggle-theme.scss
  src/material/slide-toggle/slide-toggle.scss
Owners: @angular/components-googlers

docs(material/chips): fix aria label binding for reactive and template driven form (#30814)
  src/components-examples/material/chips/chips-reactive-form/chips-reactive-form-example.html
  src/components-examples/material/chips/chips-template-form/chips-template-form-example.html
Owners: @angular/components-googlers

fix(cdk/table): error if data is accessed too early
  goldens/cdk/table/index.api.md
  src/cdk/table/BUILD.bazel
  src/cdk/table/table.spec.ts
  src/cdk/table/table.ts
Owners: @angular/components-googlers

build: update to latest next version and remove patch
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  package.json
  patches/@angular__compiler-cli.patch
  pnpm-lock.yaml
  yarn.lock
Owners: @angular/components-googlers

build: update to latest next version and remove patch (#30809)
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  package.json
  patches/@angular__compiler-cli.patch
  pnpm-lock.yaml
  yarn.lock
Owners: @angular/components-googlers

fix(material/chips): chips form control updating value immediately
  goldens/material/chips/index.api.md
  src/material/chips/chip-grid.spec.ts
  src/material/chips/chip-grid.ts
  src/material/chips/chip-input.ts
Owners: @angular/components-googlers

fix(cdk/table): error if data is accessed too early (#30817)
  goldens/cdk/table/index.api.md
  src/cdk/table/BUILD.bazel
  src/cdk/table/table.spec.ts
  src/cdk/table/table.ts
Owners: @angular/components-googlers

fix(cdk/table): error if data is accessed too early (#30817)
  goldens/cdk/table/index.api.md
  src/cdk/table/BUILD.bazel
  src/cdk/table/table.spec.ts
  src/cdk/table/table.ts
Owners: @angular/components-googlers

fix(material/core): allow extra color palette slots in theme validation
  src/material/core/theming/_config-validation.scss
Owners: @angular/components-googlers

refactor: merge button tokens
  src/material/button/BUILD.bazel
  src/material/button/_button-base.scss
  src/material/button/_button-theme.scss
  src/material/button/_fab-theme.scss
  src/material/button/_m2-button.scss
  src/material/button/_m2-extended-fab.scss
  src/material/button/_m2-fab-small.scss
  src/material/button/_m2-fab.scss
  src/material/button/_m2-filled-button.scss
  src/material/button/_m2-outlined-button.scss
  src/material/button/_m2-protected-button.scss
  src/material/button/_m2-text-button.scss
  src/material/button/_m2-tonal-button.scss
  src/material/button/_m3-button.scss
  src/material/button/_m3-extended-fab.scss
  src/material/button/_m3-fab-small.scss
  src/material/button/_m3-fab.scss
  src/material/button/_m3-filled-button.scss
  src/material/button/_m3-outlined-button.scss
  src/material/button/_m3-protected-button.scss
  src/material/button/_m3-text-button.scss
  src/material/button/_m3-tonal-button.scss
  src/material/button/button.scss
  src/material/button/fab.scss
  src/material/button/icon-button.scss
  src/material/core/tokens/_m2-tokens.scss
  src/material/core/tokens/_m3-tokens.scss
  src/material/snack-bar/snack-bar-container.scss
  src/material/toolbar/toolbar.scss
Owners: @angular/components-googlers

refactor: merge button toggle tokens
  src/material/button-toggle/BUILD.bazel
  src/material/button-toggle/_button-toggle-theme.scss
  src/material/button-toggle/_m2-button-toggle.scss
  src/material/button-toggle/_m2-legacy-button-toggle.scss
  src/material/button-toggle/_m3-button-toggle.scss
  src/material/button-toggle/button-toggle.scss
  src/material/core/tokens/_m2-tokens.scss
  src/material/core/tokens/_m3-tokens.scss
Owners: @angular/components-googlers

refactor: merge card tokens
  src/material/card/BUILD.bazel
  src/material/card/_card-theme.scss
  src/material/card/_m2-card.scss
  src/material/card/_m2-elevated-card.scss
  src/material/card/_m2-outlined-card.scss
  src/material/card/_m3-card.scss
  src/material/card/_m3-elevated-card.scss
  src/material/card/_m3-outlined-card.scss
  src/material/card/card.scss
  src/material/core/tokens/_m2-tokens.scss
  src/material/core/tokens/_m3-tokens.scss
Owners: @angular/components-googlers

refactor: combine pseudocheckbox tokens
  src/material/core/_core-theme.scss
  src/material/core/selection/pseudo-checkbox/BUILD.bazel
  src/material/core/selection/pseudo-checkbox/_m2-minimal-pseudo-checkbox.scss
  src/material/core/selection/pseudo-checkbox/_m2-pseudo-checkbox.scss
  src/material/core/selection/pseudo-checkbox/_m3-full-pseudo-checkbox.scss
  src/material/core/selection/pseudo-checkbox/_m3-minimal-pseudo-checkbox.scss
  src/material/core/selection/pseudo-checkbox/_m3-pseudo-checkbox.scss
  src/material/core/selection/pseudo-checkbox/_pseudo-checkbox-theme.scss
  src/material/core/selection/pseudo-checkbox/pseudo-checkbox.scss
  src/material/core/tokens/_m2-tokens.scss
  src/material/core/tokens/_m3-tokens.scss
Owners: @angular/components-googlers

refactor: merge form field tokens
  src/material/core/tokens/_m2-tokens.scss
  src/material/core/tokens/_m3-tokens.scss
  src/material/form-field/BUILD.bazel
  src/material/form-field/_form-field-focus-overlay.scss
  src/material/form-field/_form-field-subscript.scss
  src/material/form-field/_form-field-theme.scss
  src/material/form-field/_m2-filled-text-field.scss
  src/material/form-field/_m2-form-field.scss
  src/material/form-field/_m2-outlined-text-field.scss
  src/material/form-field/_m3-filled-text-field.scss
  src/material/form-field/_m3-form-field.scss
  src/material/form-field/_m3-outlined-text-field.scss
  src/material/form-field/_mdc-text-field-density-overrides.scss
  src/material/form-field/_mdc-text-field-structure-overrides.scss
  src/material/form-field/_mdc-text-field-structure.scss
Owners: @angular/components-googlers

refactor: merge tabs tokens
  src/material/core/tokens/_m2-tokens.scss
  src/material/core/tokens/_m3-tokens.scss
  src/material/tabs/BUILD.bazel
  src/material/tabs/_m2-secondary-navigation-tab.scss
  src/material/tabs/_m2-tab-header-with-background.scss
  src/material/tabs/_m2-tab-indicator.scss
  src/material/tabs/_m2-tabs.scss
  src/material/tabs/_m3-secondary-navigation-tab.scss
  src/material/tabs/_m3-tab-header.scss
  src/material/tabs/_m3-tab-indicator.scss
  src/material/tabs/_m3-tabs.scss
  src/material/tabs/_tabs-common.scss
  src/material/tabs/_tabs-theme.scss
Owners: @angular/components-googlers

refactor: rename shadow tokens and delete button token file
  src/material/button/_m3-button.scss
  src/material/button/_m3-text-button.scss
  src/material/slide-toggle/_m3-slide-toggle.scss
Owners: @angular/components-googlers

refactor: fix lint
  src/material/button-toggle/_m2-button-toggle.scss
  src/material/button-toggle/button-toggle.scss
  src/material/button/_m2-button.scss
  src/material/button/_m2-fab.scss
  src/material/button/_m3-button.scss
  src/material/button/_m3-fab.scss
  src/material/button/button.scss
  src/material/button/fab.scss
  src/material/button/icon-button.scss
  src/material/card/_m3-card.scss
  src/material/core/selection/pseudo-checkbox/_m3-pseudo-checkbox.scss
  src/material/form-field/_m2-form-field.scss
  src/material/form-field/_m3-form-field.scss
  src/material/form-field/_mdc-text-field-structure.scss
Owners: @angular/components-googlers

fix(cdk/scrolling): use capturing for scroll event
  src/cdk/scrolling/scroll-dispatcher.spec.ts
  src/cdk/scrolling/scroll-dispatcher.ts
Owners: @angular/components-googlers

feat(material/menu): enhance menu item component with interactive disabled state
  goldens/material/menu/index.api.md
  src/dev-app/menu/BUILD.bazel
  src/dev-app/menu/menu-demo.html
  src/dev-app/menu/menu-demo.ts
  src/material/menu/_m2-menu.scss
  src/material/menu/_m3-menu.scss
  src/material/menu/menu-item.ts
  src/material/menu/menu.scss
  src/material/menu/menu.spec.ts
Owners: @angular/components-googlers

refactor: make form field overrides a list
  src/material/core/_core-theme.scss
  src/material/core/selection/pseudo-checkbox/_m2-pseudo-checkbox.scss
  src/material/core/selection/pseudo-checkbox/_m3-pseudo-checkbox.scss
  src/material/form-field/_form-field-theme.scss
Owners: @angular/components-googlers

refactor: remove ambiguous tokens test
  src/material/core/theming/tests/m3-theme.spec.ts
  src/material/core/tokens/_token-utils.scss
Owners: @angular/components-googlers

refactor: remove unused warning test function
  src/material/core/theming/tests/m3-theme.spec.ts
Owners: @angular/components-googlers

refactor: fix form field selectors
  src/material/form-field/_mdc-text-field-structure.scss
Owners: @angular/components-googlers

refactor: update density
  src/material/button/_m2-button.scss
  src/material/core/tokens/_density.scss
  src/material/slide-toggle/_m3-slide-toggle.scss
Owners: @angular/components-googlers

refactor: fix tabs tokens
  src/material/tabs/_m2-tabs.scss
  src/material/tabs/_tabs-theme.scss
Owners: @angular/components-googlers

fix(material/icon): mat-icon misaligned when text-spacing is applied
  src/dev-app/dev-app/dev-app-layout.scss
  src/material/core/style/_button-common.scss
  src/material/core/style/_icon-common.scss
Owners: @angular/components-googlers

docs(material/form-field): update documentation to replace 'mat-chip-list' with 'mat-chip-grid'
  src/material/form-field/form-field.md
Owners: @angular/components-googlers

fix(material/form-field): add min-height to mdc-text-field for textarea consistency
  src/material/form-field/_mdc-text-field-structure.scss
Owners: @angular/components-googlers

build: switch karma tests to `rules_browsers`
  WORKSPACE
  scripts/create-legacy-tests-bundle.mjs
  src/BUILD.bazel
  src/cdk/a11y/key-manager/list-key-manager.spec.ts
  src/cdk/testing/tests/webdriver-test.bzl
  src/cdk/testing/tests/webdriver.e2e.spec.ts
  test/BUILD.bazel
  test/angular-test.init.ts
  test/karma.conf.js
  tools/defaults.bzl
  tools/defaults2.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: speed up legacy tests bundle
  scripts/create-legacy-tests-bundle.mjs
Owners: @angular/dev-infra-components

build: switch karma tests to `rules_browsers` (#30820)
  WORKSPACE
  scripts/create-legacy-tests-bundle.mjs
  src/BUILD.bazel
  src/cdk/a11y/key-manager/list-key-manager.spec.ts
  src/cdk/testing/tests/webdriver-test.bzl
  src/cdk/testing/tests/webdriver.e2e.spec.ts
  test/BUILD.bazel
  test/angular-test.init.ts
  test/karma.conf.js
  tools/defaults.bzl
  tools/defaults2.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: speed up legacy tests bundle
  scripts/create-legacy-tests-bundle.mjs
Owners: @angular/dev-infra-components

build: switch karma tests to `rules_browsers`
  WORKSPACE
  scripts/create-legacy-tests-bundle.mjs
  src/BUILD.bazel
  src/cdk/a11y/key-manager/list-key-manager.spec.ts
  src/cdk/testing/tests/webdriver-test.bzl
  src/cdk/testing/tests/webdriver.e2e.spec.ts
  test/BUILD.bazel
  test/angular-test.init.ts
  test/karma.conf.js
  tools/defaults.bzl
  tools/defaults2.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

release: cut the v19.2.9 release
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

build: switch karma tests to `rules_browsers`
  WORKSPACE
  scripts/create-legacy-tests-bundle.mjs
  src/BUILD.bazel
  src/cdk/a11y/key-manager/list-key-manager.spec.ts
  src/cdk/testing/tests/webdriver-test.bzl
  src/cdk/testing/tests/webdriver.e2e.spec.ts
  test/BUILD.bazel
  test/angular-test.init.ts
  test/karma.conf.js
  tools/defaults.bzl
  tools/defaults2.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: speed up legacy tests bundle
  scripts/create-legacy-tests-bundle.mjs
Owners: @angular/dev-infra-components

.github/CODEOWNERS:

*                                   @angular/components-googlers

/.circleci/                         @angular/dev-infra-components
/.husky/                            @angular/dev-infra-components
/.ng-dev/                           @angular/dev-infra-components
/.vscode/                           @angular/dev-infra-components
/.yarn/                             @angular/dev-infra-components
/scripts/                           @angular/dev-infra-components
/test/                              @angular/dev-infra-components

/.github/                           @angular/dev-infra-components
/.github/CODEOWNERS                 @angular/dev-infra-components @andrewseguin @jelbourn
/.github/ISSUE_TEMPLATE/**          @angular/components-googlers

/tools/                             @angular/dev-infra-components
/tools/public_api_guard/**/*.md     @angular/components-googlers
