Repository angular/components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @angular/components-googlers, @angular/dev-infra-components, @andrewseguin, @jelbourn

.github/CODEOWNERS:

*                                   @angular/components-googlers

/.circleci/                         @angular/dev-infra-components
/.husky/                            @angular/dev-infra-components
/.ng-dev/                           @angular/dev-infra-components
/.vscode/                           @angular/dev-infra-components
/.yarn/                             @angular/dev-infra-components
/scripts/                           @angular/dev-infra-components
/test/                              @angular/dev-infra-components

/.github/                           @angular/dev-infra-components
/.github/CODEOWNERS                 @angular/dev-infra-components @andrewseguin @jelbourn
/.github/ISSUE_TEMPLATE/**          @angular/components-googlers

/tools/                             @angular/dev-infra-components
/tools/public_api_guard/**/*.md     @angular/components-googlers

perf(cdk/drag-drop): fix performance regression when destroying items (#30751)
  src/cdk/drag-drop/directives/drop-list.ts
Owners: @angular/components-googlers

fix(cdk-experimental/ui-patterns): add modifier checks for regexps (#30738)
  src/cdk-experimental/ui-patterns/behaviors/event-manager/keyboard-event-manager.ts
Owners: @angular/components-googlers

refactor(cdk-experimental/ui-patterns): track list selection by value (#30733)
  src/cdk-experimental/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/behaviors/list-focus/list-focus.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/listbox/option.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.html
Owners: @angular/components-googlers

fix(material/slider): fix clobbered token for hover/focus/pressed (#30754)
  src/material/core/tokens/m3/mdc/_slider.scss
Owners: @angular/components-googlers

ci: update to latest dev-infra action versions (#30760)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
Owners: @angular/dev-infra-components

build: update angular shared dev-infra code to b3b3466 (#30776)
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
  material.angular.io/defs.bzl
Owners: @angular/components-googlers

test(cdk-experimental/ui-patterns): listbox navigation tests (#30767)
  src/cdk-experimental/ui-patterns/listbox/BUILD.bazel
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
Owners: @angular/components-googlers

fix(material/tabs): allow ID to be set on tab (#30768)
  goldens/material/tabs/index.api.md
  src/material/tabs/tab-group.html
  src/material/tabs/tab-group.spec.ts
  src/material/tabs/tab-group.ts
  src/material/tabs/tab.ts
Owners: @angular/components-googlers

perf(cdk-experimental/column-resize): improve hover responsiveness of… (#30708)
  src/cdk-experimental/column-resize/resizable.ts
Owners: @angular/components-googlers

Add a null check to autocomplete options (#30734)
  src/material/autocomplete/autocomplete-trigger.ts
  src/material/autocomplete/autocomplete.spec.ts
  src/material/autocomplete/autocomplete.ts
Owners: @angular/components-googlers

test: fix broken autocomplete test (#30782)
  src/material/autocomplete/autocomplete.spec.ts
Owners: @angular/components-googlers

docs: release notes for the v19.2.8 release
  CHANGELOG.md
Owners: @angular/components-googlers

release: cut the v20.0.0-next.5 release
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

build: migrate `nodejs_test` targets to `rules_js`
  integration/linker/BUILD.bazel
  integration/linker/link-packages-test.mjs
  tools/server-test/index.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: migrate all `nodejs_binary` targets to `rules_js`
  package.json
  pnpm-lock.yaml
  src/components-examples/BUILD.bazel
  src/universal-app/BUILD.bazel
  tools/dgeni/BUILD.bazel
  tools/dgeni/index.bzl
  tools/example-module/BUILD.bazel
  tools/extract-tokens/BUILD.bazel
  tools/extract-tokens/index.bzl
  tools/highlight-files/BUILD.bazel
  tools/highlight-files/index.bzl
  tools/markdown-to-html/BUILD.bazel
  tools/markdown-to-html/index.bzl
  tools/package-docs-content/BUILD.bazel
  tools/package-docs-content/index.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: add ng_package interop for `rules_js` pnpm linking
  src/cdk-experimental/BUILD.bazel
  src/cdk/BUILD.bazel
  src/google-maps/BUILD.bazel
  src/material-date-fns-adapter/BUILD.bazel
  src/material-experimental/BUILD.bazel
  src/material-luxon-adapter/BUILD.bazel
  src/material-moment-adapter/BUILD.bazel
  src/material/BUILD.bazel
  src/youtube-player/BUILD.bazel
  tools/bazel/ng_package_interop.bzl
  tools/defaults.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: setup pnpm workspace for first-party packages
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  .bazelignore
  WORKSPACE
  integration/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/cdk-experimental/BUILD.bazel
  src/cdk/BUILD.bazel
  src/dev-app/package.json
  src/e2e-app/package.json
  src/material-date-fns-adapter/package.json
  src/material-experimental/BUILD.bazel
  src/material-luxon-adapter/package.json
  src/material-moment-adapter/package.json
  src/material/BUILD.bazel
  src/material/package.json
  src/universal-app/package.json
Owners: @angular/components-googlers

build: update integration tests to use first-party packages
  integration/BUILD.bazel
  integration/linker/BUILD.bazel
  integration/npm-packages-from-runfiles.mjs
  integration/package.json
  integration/ts-compat/BUILD.bazel
  integration/ts-compat/helpers.mjs
  integration/ts-compat/test.mjs
Owners: @angular/components-googlers

build: update karma rules and interop to work with `rules_js`
  tools/bazel/ts_project_interop.bzl
  tools/defaults.bzl
  tools/defaults2.bzl
Owners: @angular/dev-infra-components

build: fix some remaining relative imports
  src/material/datepicker/date-range-selection-strategy.ts
  src/material/datepicker/date-selection-model.ts
  src/material/list/list-module.ts
Owners: @angular/components-googlers

build: workaround until `animations` package is released with fixed peer dep
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

build: remove remaining jasmine_node_test and modernize webdriver test
  src/cdk/testing/BUILD.bazel
  src/cdk/testing/tests/webdriver-test.bzl
  src/cdk/testing/tests/webdriver.e2e.spec.ts
  tools/defaults.bzl
  tools/defaults2.bzl
  tools/markdown-to-html/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

build: fix integration tests never showing up as failing
  .github/workflows/pr.yml
Owners: @angular/dev-infra-components

build: ensure TS respects `package.json` exports
  goldens/cdk/testing/private/index.api.md
  goldens/material/datepicker/index.api.md
  goldens/material/list/index.api.md
  src/bazel-tsconfig-build.json
Owners: @angular/components-googlers

build: fix integration tests to work with real packages
  integration/linker/link-packages-test.mjs
  integration/ts-compat/BUILD.bazel
Owners: @angular/components-googlers

build: remove spec_bundle from `defaults.bzl`
  tools/defaults.bzl
Owners: @angular/dev-infra-components

build: use `rules_esbuild` in universal testing
  src/universal-app/BUILD.bazel
Owners: @angular/components-googlers

build: remove legacy linking code
  tools/angular/BUILD.bazel
  tools/angular/esbuild.config.mjs
  tools/angular/index.bzl
Owners: @angular/dev-infra-components

build: update angular shared dev-infra code to 37d8497 (#30778)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: remove leftover log (#30789)
  tools/extract-tokens/extract-tokens.ts
Owners: @angular/dev-infra-components

build: update angular shared dev-infra code to 6127cf1 (#30792)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: update angular shared dev-infra code to b9bcdb3 (#30793)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: cleanup more usages of `@npm//` repository
  .bazelrc
  goldens/BUILD.bazel
  src/e2e-app/BUILD.bazel
  src/e2e-app/index.html
  tools/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

build: clean-up to use fine-grained targets for faster rebuilds
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  package.json
  pnpm-lock.yaml
  src/BUILD.bazel
  src/cdk-experimental/BUILD.bazel
  src/cdk-experimental/package.json
  src/cdk/BUILD.bazel
  src/cdk/schematics/BUILD.bazel
  src/cdk/testing/tests/webdriver.e2e.spec.ts
  src/components-examples/BUILD.bazel
  src/dev-app/BUILD.bazel
  src/dev-app/polyfills.ts
  src/e2e-app/BUILD.bazel
  src/esbuild-linked.config.mjs
  src/google-maps/BUILD.bazel
  src/material-date-fns-adapter/BUILD.bazel
  src/material-experimental/BUILD.bazel
  src/material-experimental/package.json
  src/material-luxon-adapter/BUILD.bazel
  src/material-moment-adapter/BUILD.bazel
  src/material/BUILD.bazel
  src/material/core/BUILD.bazel
  src/material/divider/BUILD.bazel
  src/material/form-field/BUILD.bazel
  src/material/schematics/BUILD.bazel
  src/material/schematics/ng-generate/theme-color/BUILD.bazel
  src/material/schematics/ng-update/BUILD.bazel
  src/universal-app/BUILD.bazel
  src/youtube-player/BUILD.bazel
  tools/defaults.bzl
  tools/defaults2.bzl
  tools/markdown-to-html/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

refactor: remove extraneous log (#30799)
  tools/extract-tokens/extract-tokens.ts
Owners: @angular/dev-infra-components

feat(material/core): handle prefers-reduced-motion automatically (#30796)
  goldens/material/core/index.api.md
  src/material/core/animation/BUILD.bazel
  src/material/core/animation/animation.ts
Owners: @angular/components-googlers

build: update angular shared dev-infra code to 492cc1f (#30798)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: update angular shared dev-infra code to f172f3f (#30801)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

fix(cdk-experimental/ui-patterns): add missing event handlers (#30786)
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
Owners: @angular/components-googlers

fix(material-angular-io): streamline directive and component metadata handling in dgeni (#30661)
  material.angular.io/src/app/pages/component-viewer/component-api.scss
  tools/dgeni/common/decorators.ts
  tools/dgeni/common/dgeni-definitions.ts
  tools/dgeni/common/directive-metadata.ts
  tools/dgeni/common/sort-members.ts
  tools/dgeni/processors/categorizer.ts
  tools/dgeni/processors/entry-point-grouper.ts
  tools/dgeni/templates/class.template.html
  tools/dgeni/templates/entry-point.template.html
  tools/dgeni/templates/property.template.html
Owners: @angular/components-googlers, @angular/dev-infra-components
