Repository angular/components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @angular/components-googlers, @angular/dev-infra-components, @andrewseguin, @jelbourn

build: cleanup more usages of `@npm//` repository
  .bazelrc
  goldens/BUILD.bazel
  src/e2e-app/BUILD.bazel
  src/e2e-app/index.html
  tools/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

build: cleanup more usages of `@npm//` repository
  .bazelrc
  goldens/BUILD.bazel
  src/e2e-app/BUILD.bazel
  src/e2e-app/index.html
  tools/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

refactor: remove extraneous log (#30799)
  tools/extract-tokens/extract-tokens.ts
Owners: @angular/dev-infra-components

feat(material/core): handle prefers-reduced-motion automatically (#30796)
  goldens/material/core/index.api.md
  src/material/core/animation/BUILD.bazel
  src/material/core/animation/animation.ts
Owners: @angular/components-googlers

build: update angular shared dev-infra code to 492cc1f
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: clean-up to use fine-grained targets for faster rebuilds
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  package.json
  pnpm-lock.yaml
  src/BUILD.bazel
  src/cdk-experimental/BUILD.bazel
  src/cdk-experimental/package.json
  src/cdk/BUILD.bazel
  src/cdk/schematics/BUILD.bazel
  src/cdk/testing/tests/webdriver.e2e.spec.ts
  src/components-examples/BUILD.bazel
  src/dev-app/BUILD.bazel
  src/dev-app/chips/BUILD.bazel
  src/dev-app/polyfills.ts
  src/e2e-app/BUILD.bazel
  src/esbuild-linked.config.mjs
  src/google-maps/BUILD.bazel
  src/material-date-fns-adapter/BUILD.bazel
  src/material-experimental/BUILD.bazel
  src/material-experimental/package.json
  src/material-luxon-adapter/BUILD.bazel
  src/material-moment-adapter/BUILD.bazel
  src/material/BUILD.bazel
  src/material/core/BUILD.bazel
  src/material/divider/BUILD.bazel
  src/material/form-field/BUILD.bazel
  src/material/schematics/BUILD.bazel
  src/material/schematics/ng-generate/theme-color/BUILD.bazel
  src/material/schematics/ng-update/BUILD.bazel
  src/universal-app/BUILD.bazel
  src/youtube-player/BUILD.bazel
  tools/defaults.bzl
  tools/defaults2.bzl
  tools/markdown-to-html/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

build: clean-up to use fine-grained targets for faster rebuilds
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  package.json
  pnpm-lock.yaml
  src/BUILD.bazel
  src/cdk-experimental/BUILD.bazel
  src/cdk-experimental/package.json
  src/cdk/BUILD.bazel
  src/cdk/schematics/BUILD.bazel
  src/cdk/testing/tests/webdriver.e2e.spec.ts
  src/components-examples/BUILD.bazel
  src/dev-app/BUILD.bazel
  src/dev-app/chips/BUILD.bazel
  src/dev-app/polyfills.ts
  src/e2e-app/BUILD.bazel
  src/esbuild-linked.config.mjs
  src/google-maps/BUILD.bazel
  src/material-date-fns-adapter/BUILD.bazel
  src/material-experimental/BUILD.bazel
  src/material-experimental/package.json
  src/material-luxon-adapter/BUILD.bazel
  src/material-moment-adapter/BUILD.bazel
  src/material/BUILD.bazel
  src/material/core/BUILD.bazel
  src/material/divider/BUILD.bazel
  src/material/form-field/BUILD.bazel
  src/material/schematics/BUILD.bazel
  src/material/schematics/ng-generate/theme-color/BUILD.bazel
  src/material/schematics/ng-update/BUILD.bazel
  src/universal-app/BUILD.bazel
  src/youtube-player/BUILD.bazel
  tools/defaults.bzl
  tools/defaults2.bzl
  tools/markdown-to-html/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

build: cleanup more usages of `@npm//` repository
  .bazelrc
  goldens/BUILD.bazel
  src/e2e-app/BUILD.bazel
  src/e2e-app/index.html
  tools/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

build: update angular shared dev-infra code to 492cc1f (#30798)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: update angular shared dev-infra code to 492cc1f (#30798)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: update angular shared dev-infra code to f172f3f
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

fix(cdk-experimental/ui-patterns): add missing event handlers
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
Owners: @angular/components-googlers

build: update angular shared dev-infra code to f172f3f (#30801)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: update angular shared dev-infra code to f172f3f (#30801)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

fix(cdk-experimental/ui-patterns): add missing event handlers (#30786)
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
Owners: @angular/components-googlers

fix(material-angular-io): streamline directive and component metadata handling in dgeni (#30661)
  material.angular.io/src/app/pages/component-viewer/component-api.scss
  tools/dgeni/common/decorators.ts
  tools/dgeni/common/dgeni-definitions.ts
  tools/dgeni/common/directive-metadata.ts
  tools/dgeni/common/sort-members.ts
  tools/dgeni/processors/categorizer.ts
  tools/dgeni/processors/entry-point-grouper.ts
  tools/dgeni/templates/class.template.html
  tools/dgeni/templates/entry-point.template.html
  tools/dgeni/templates/property.template.html
Owners: @angular/components-googlers, @angular/dev-infra-components

fix(material/toolbar): Update icon button color to match label text color token
  src/material/toolbar/toolbar.scss
Owners: @angular/components-googlers

refactor(cdk-experimental/listbox): rename multiselectable to multi
  src/cdk-experimental/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.html
Owners: @angular/components-googlers

fix(material/core): theming tests
  src/material/core/theming/tests/m3-theme.spec.ts
Owners: @angular/components-googlers

build: update angular shared dev-infra code to e4bf37a
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

refactor(cdk-experimental/listbox): rename multiselectable to multi (#30804)
  src/cdk-experimental/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.html
Owners: @angular/components-googlers

feat(cdk-experimental/listbox): readonly mode
  src/cdk-experimental/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.ts
Owners: @angular/components-googlers

build: update angular shared dev-infra code to e4bf37a (#30805)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: update angular shared dev-infra code to e4bf37a (#30805)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: update angular shared dev-infra code to e4bf37a
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

fixup! feat(cdk-experimental/listbox): readonly mode
  src/cdk-experimental/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
Owners: @angular/components-googlers

fix(multiple): rename hardcoded tokens that were renamed
  src/material/button-toggle/button-toggle.scss
  src/material/core/option/option.scss
  src/material/datepicker/calendar.scss
  src/material/progress-spinner/progress-spinner.ts
  src/material/slide-toggle/_slide-toggle-theme.scss
  src/material/slide-toggle/slide-toggle.scss
Owners: @angular/components-googlers

feat(cdk-experimental/listbox): readonly mode (#30803)
  src/cdk-experimental/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.ts
Owners: @angular/components-googlers

build: update angular shared dev-infra code to 139a34c
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

dos(material/chips-form-control): fix aria-label property binding of chips-form-control-example
  src/components-examples/material/chips/chips-form-control/chips-form-control-example.html
Owners: @angular/components-googlers

docs(material/chips-form-control): fix aria-label binding of chips-form-control-example
  src/components-examples/material/chips/chips-form-control/chips-form-control-example.html
Owners: @angular/components-googlers

build: update to latest next version and remove patch
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  package.json
  patches/@angular__compiler-cli.patch
  pnpm-lock.yaml
  yarn.lock
Owners: @angular/components-googlers

feat(material/card): support `filled` variant
  goldens/material/card/index.api.md
  src/material/card/BUILD.bazel
  src/material/card/_card-theme.scss
  src/material/card/_m2-filled-card.scss
  src/material/card/_m3-filled-card.scss
  src/material/card/card.scss
  src/material/card/card.ts
  src/material/core/tokens/_density.scss
  src/material/core/tokens/_m2-tokens.scss
  src/material/core/tokens/_m3-tokens.scss
Owners: @angular/components-googlers

docs(material/card): add each appearance example
  src/components-examples/material/card/card-overview/card-overview-example.html
  src/dev-app/card/BUILD.bazel
  src/dev-app/card/card-demo.html
  src/dev-app/card/card-demo.scss
  src/dev-app/card/card-demo.ts
Owners: @angular/components-googlers

fix(multiple): fix density prefixes
  src/material/core/tokens/_density.scss
Owners: @angular/components-googlers

fix(multiple): fix density prefixes
  src/material/core/tokens/_density.scss
Owners: @angular/components-googlers

docs(material/chips): fix aria-label binding of chips-form-control-example (#30811)
  src/components-examples/material/chips/chips-form-control/chips-form-control-example.html
Owners: @angular/components-googlers

docs(material/chips): fix aria-label binding of chips-form-control-example (#30811)
  src/components-examples/material/chips/chips-form-control/chips-form-control-example.html
Owners: @angular/components-googlers

refactor(google-maps): tree-shake `assertInitialized`
  src/google-maps/deprecated-map-marker-clusterer/deprecated-map-marker-clusterer.ts
  src/google-maps/google-map/google-map.ts
  src/google-maps/map-advanced-marker/map-advanced-marker.ts
  src/google-maps/map-circle/map-circle.ts
  src/google-maps/map-directions-renderer/map-directions-renderer.ts
  src/google-maps/map-ground-overlay/map-ground-overlay.ts
  src/google-maps/map-heatmap-layer/map-heatmap-layer.ts
  src/google-maps/map-info-window/map-info-window.ts
  src/google-maps/map-kml-layer/map-kml-layer.ts
  src/google-maps/map-marker-clusterer/map-marker-clusterer.ts
  src/google-maps/map-marker/map-marker.ts
  src/google-maps/map-polygon/map-polygon.ts
  src/google-maps/map-polyline/map-polyline.ts
  src/google-maps/map-rectangle/map-rectangle.ts
  src/google-maps/map-traffic-layer/map-traffic-layer.ts
Owners: @angular/components-googlers

fix(multiple): rename hardcoded tokens that were renamed (#30807)
  src/material/button-toggle/button-toggle.scss
  src/material/core/option/option.scss
  src/material/core/tokens/_density.scss
  src/material/datepicker/calendar.scss
  src/material/progress-spinner/progress-spinner.ts
  src/material/slide-toggle/_slide-toggle-theme.scss
  src/material/slide-toggle/slide-toggle.scss
Owners: @angular/components-googlers

.github/CODEOWNERS:

*                                   @angular/components-googlers

/.circleci/                         @angular/dev-infra-components
/.husky/                            @angular/dev-infra-components
/.ng-dev/                           @angular/dev-infra-components
/.vscode/                           @angular/dev-infra-components
/.yarn/                             @angular/dev-infra-components
/scripts/                           @angular/dev-infra-components
/test/                              @angular/dev-infra-components

/.github/                           @angular/dev-infra-components
/.github/CODEOWNERS                 @angular/dev-infra-components @andrewseguin @jelbourn
/.github/ISSUE_TEMPLATE/**          @angular/components-googlers

/tools/                             @angular/dev-infra-components
/tools/public_api_guard/**/*.md     @angular/components-googlers
