Repository angular/components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @angular/components-googlers, @angular/dev-infra-components, @andrewseguin, @jelbourn

build: remove remaining jasmine_node_test and modernize webdriver test
  src/cdk/testing/BUILD.bazel
  src/cdk/testing/tests/webdriver-test.bzl
  src/cdk/testing/tests/webdriver.e2e.spec.ts
  tools/defaults.bzl
  tools/defaults2.bzl
  tools/markdown-to-html/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

build: fix integration tests never showing up as failing
  .github/workflows/pr.yml
Owners: @angular/dev-infra-components

build: update patch `@angular/core` to have a peer dependency on common
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

build: remove legacy linking code
  tools/angular/BUILD.bazel
  tools/angular/esbuild.config.mjs
  tools/angular/index.bzl
Owners: @angular/dev-infra-components

build: remove spec_bundle from `defaults.bzl`
  tools/defaults.bzl
Owners: @angular/dev-infra-components

build: fix integration tests to work with real packages
  integration/linker/link-packages-test.mjs
  integration/ts-compat/BUILD.bazel
Owners: @angular/components-googlers

build: use `rules_esbuild` in universal testing
  src/universal-app/BUILD.bazel
Owners: @angular/components-googlers

build: ensure TS respects `package.json` exports
  goldens/cdk/testing/private/index.api.md
  goldens/material/datepicker/index.api.md
  goldens/material/list/index.api.md
  src/bazel-tsconfig-build.json
Owners: @angular/components-googlers

build: remove leftover log (#30789)
  tools/extract-tokens/extract-tokens.ts
Owners: @angular/dev-infra-components

build: ensure theming tests execute as ESM
  src/material/core/theming/tests/BUILD.bazel
Owners: @angular/components-googlers

build: use `rules_esbuild` in universal testing
  src/universal-app/BUILD.bazel
Owners: @angular/components-googlers

build: add ng_package interop for `rules_js` pnpm linking
  src/cdk-experimental/BUILD.bazel
  src/cdk/BUILD.bazel
  src/google-maps/BUILD.bazel
  src/material-date-fns-adapter/BUILD.bazel
  src/material-experimental/BUILD.bazel
  src/material-luxon-adapter/BUILD.bazel
  src/material-moment-adapter/BUILD.bazel
  src/material/BUILD.bazel
  src/youtube-player/BUILD.bazel
  tools/bazel/ng_package_interop.bzl
  tools/defaults.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: workaround until `animations` package is released with fixed peer dep
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

build: ensure TS respects `package.json` exports
  goldens/cdk/testing/private/index.api.md
  goldens/material/datepicker/index.api.md
  goldens/material/list/index.api.md
  src/bazel-tsconfig-build.json
Owners: @angular/components-googlers

build: migrate `nodejs_test` targets to `rules_js`
  integration/linker/BUILD.bazel
  integration/linker/link-packages-test.mjs
  tools/server-test/index.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: remove legacy linking code
  tools/angular/BUILD.bazel
  tools/angular/esbuild.config.mjs
  tools/angular/index.bzl
Owners: @angular/dev-infra-components

build: fix some remaining relative imports
  src/cdk/table/can-stick.ts
  src/material/datepicker/date-range-selection-strategy.ts
  src/material/datepicker/date-selection-model.ts
  src/material/list/list-module.ts
Owners: @angular/components-googlers

build: ensure theming tests execute as ESM
  src/material/core/theming/tests/BUILD.bazel
Owners: @angular/components-googlers

build: remove remaining jasmine_node_test and modernize webdriver test
  src/cdk/testing/BUILD.bazel
  src/cdk/testing/tests/webdriver-test.bzl
  src/cdk/testing/tests/webdriver.e2e.spec.ts
  tools/defaults.bzl
  tools/defaults2.bzl
  tools/markdown-to-html/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

build: remove spec_bundle from `defaults.bzl`
  tools/defaults.bzl
Owners: @angular/dev-infra-components

build: update karma rules and interop to work with `rules_js`
  tools/bazel/ts_project_interop.bzl
  tools/defaults.bzl
  tools/defaults2.bzl
Owners: @angular/dev-infra-components

build: migrate all `nodejs_binary` targets to `rules_js`
  package.json
  pnpm-lock.yaml
  src/components-examples/BUILD.bazel
  src/universal-app/BUILD.bazel
  tools/dgeni/BUILD.bazel
  tools/dgeni/index.bzl
  tools/example-module/BUILD.bazel
  tools/extract-tokens/BUILD.bazel
  tools/extract-tokens/index.bzl
  tools/highlight-files/BUILD.bazel
  tools/highlight-files/index.bzl
  tools/markdown-to-html/BUILD.bazel
  tools/markdown-to-html/index.bzl
  tools/package-docs-content/BUILD.bazel
  tools/package-docs-content/index.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: update integration tests to use first-party packages
  integration/BUILD.bazel
  integration/linker/BUILD.bazel
  integration/npm-packages-from-runfiles.mjs
  integration/package.json
  integration/ts-compat/BUILD.bazel
  integration/ts-compat/helpers.mjs
  integration/ts-compat/test.mjs
Owners: @angular/components-googlers

build: fix integration tests to work with real packages
  integration/linker/link-packages-test.mjs
  integration/ts-compat/BUILD.bazel
Owners: @angular/components-googlers

build: setup pnpm workspace for first-party packages
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  .bazelignore
  WORKSPACE
  integration/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/cdk-experimental/BUILD.bazel
  src/cdk/BUILD.bazel
  src/dev-app/package.json
  src/e2e-app/package.json
  src/material-date-fns-adapter/package.json
  src/material-experimental/BUILD.bazel
  src/material-luxon-adapter/package.json
  src/material-moment-adapter/package.json
  src/material/BUILD.bazel
  src/material/package.json
  src/universal-app/package.json
Owners: @angular/components-googlers

build: fix integration tests never showing up as failing
  .github/workflows/pr.yml
Owners: @angular/dev-infra-components

build: update patch `@angular/core` to have a peer dependency on common
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

build: update angular shared dev-infra code to 6127cf1
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: update angular shared dev-infra code to 6127cf1 (#30792)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: update angular shared dev-infra code to 6127cf1 (#30792)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: update angular shared dev-infra code to b9bcdb3
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: update angular shared dev-infra code to b9bcdb3 (#30793)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

build: update angular shared dev-infra code to b9bcdb3 (#30793)
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  WORKSPACE
  material.angular.io/WORKSPACE.bazel
Owners: @angular/dev-infra-components, @angular/components-googlers

feat(material/core): handle prefers-reduced-motion automatically
  goldens/material/core/index.api.md
  src/material/core/animation/BUILD.bazel
  src/material/core/animation/animation.ts
Owners: @angular/components-googlers

build: cleanup more usages of `@npm//` repository
  .bazelrc
  goldens/BUILD.bazel
  src/e2e-app/BUILD.bazel
  src/e2e-app/index.html
  tools/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

build: clean-up to use fine-grained targets for faster rebuilds
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  package.json
  pnpm-lock.yaml
  src/BUILD.bazel
  src/cdk-experimental/BUILD.bazel
  src/cdk-experimental/package.json
  src/cdk/BUILD.bazel
  src/cdk/schematics/BUILD.bazel
  src/cdk/testing/tests/webdriver.e2e.spec.ts
  src/components-examples/BUILD.bazel
  src/dev-app/BUILD.bazel
  src/dev-app/polyfills.ts
  src/e2e-app/BUILD.bazel
  src/esbuild-linked.config.mjs
  src/google-maps/BUILD.bazel
  src/material-date-fns-adapter/BUILD.bazel
  src/material-experimental/BUILD.bazel
  src/material-experimental/package.json
  src/material-luxon-adapter/BUILD.bazel
  src/material-moment-adapter/BUILD.bazel
  src/material/BUILD.bazel
  src/material/core/BUILD.bazel
  src/material/divider/BUILD.bazel
  src/material/form-field/BUILD.bazel
  src/material/schematics/BUILD.bazel
  src/material/schematics/ng-generate/theme-color/BUILD.bazel
  src/material/schematics/ng-update/BUILD.bazel
  src/universal-app/BUILD.bazel
  src/youtube-player/BUILD.bazel
  tools/defaults.bzl
  tools/defaults2.bzl
  tools/markdown-to-html/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

refactor: correct card prefix
  src/material/card/card.scss
Owners: @angular/components-googlers

refactor: correct card prefix
  src/material/card/card.scss
Owners: @angular/components-googlers

refactor: remove extraneous log
  tools/extract-tokens/extract-tokens.ts
Owners: @angular/dev-infra-components

build: clean-up to use fine-grained targets for faster rebuilds
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  package.json
  pnpm-lock.yaml
  src/BUILD.bazel
  src/cdk-experimental/BUILD.bazel
  src/cdk-experimental/package.json
  src/cdk/BUILD.bazel
  src/cdk/schematics/BUILD.bazel
  src/cdk/testing/tests/webdriver.e2e.spec.ts
  src/components-examples/BUILD.bazel
  src/dev-app/BUILD.bazel
  src/dev-app/polyfills.ts
  src/e2e-app/BUILD.bazel
  src/esbuild-linked.config.mjs
  src/google-maps/BUILD.bazel
  src/material-date-fns-adapter/BUILD.bazel
  src/material-experimental/BUILD.bazel
  src/material-experimental/package.json
  src/material-luxon-adapter/BUILD.bazel
  src/material-moment-adapter/BUILD.bazel
  src/material/BUILD.bazel
  src/material/core/BUILD.bazel
  src/material/divider/BUILD.bazel
  src/material/form-field/BUILD.bazel
  src/material/schematics/BUILD.bazel
  src/material/schematics/ng-generate/theme-color/BUILD.bazel
  src/material/schematics/ng-update/BUILD.bazel
  src/universal-app/BUILD.bazel
  src/youtube-player/BUILD.bazel
  tools/defaults.bzl
  tools/defaults2.bzl
  tools/markdown-to-html/BUILD.bazel
Owners: @angular/components-googlers, @angular/dev-infra-components

.github/CODEOWNERS:

*                                   @angular/components-googlers

/.circleci/                         @angular/dev-infra-components
/.husky/                            @angular/dev-infra-components
/.ng-dev/                           @angular/dev-infra-components
/.vscode/                           @angular/dev-infra-components
/.yarn/                             @angular/dev-infra-components
/scripts/                           @angular/dev-infra-components
/test/                              @angular/dev-infra-components

/.github/                           @angular/dev-infra-components
/.github/CODEOWNERS                 @angular/dev-infra-components @andrewseguin @jelbourn
/.github/ISSUE_TEMPLATE/**          @angular/components-googlers

/tools/                             @angular/dev-infra-components
/tools/public_api_guard/**/*.md     @angular/components-googlers
