Repository angular/components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @angular/components-googlers, @angular/dev-infra-components, @andrewseguin, @jelbourn

docs(material/chips): fix aria label binding for reactive and template driven form
  src/components-examples/material/chips/chips-reactive-form/chips-reactive-form-example.html
  src/components-examples/material/chips/chips-template-form/chips-template-form-example.html
Owners: @angular/components-googlers

docs(material/chips): fix aria label binding for reactive and template driven form (#30814)
  src/components-examples/material/chips/chips-reactive-form/chips-reactive-form-example.html
  src/components-examples/material/chips/chips-template-form/chips-template-form-example.html
Owners: @angular/components-googlers

docs(material/chips): fix aria label binding for reactive and template driven form (#30814)
  src/components-examples/material/chips/chips-reactive-form/chips-reactive-form-example.html
  src/components-examples/material/chips/chips-template-form/chips-template-form-example.html
Owners: @angular/components-googlers

build: update `angular-linking` to attempt fix postinstall flakiness (#30698)
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

fix(material/sort): set cursor on entire clickable area (#30696)
  src/material/sort/sort-header.scss
Owners: @angular/components-googlers

build: migrate theming tests to `rules_js`
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  package.json
  pnpm-lock.yaml
  src/BUILD.bazel
  src/bazel-tsconfig-test.json
  src/circular-deps-test.conf.cjs
  src/material/core/theming/tests/BUILD.bazel
  src/material/core/theming/tests/m3-theme.spec.ts
  src/material/core/theming/tests/theming-definition-api.spec.ts
  src/material/core/theming/tests/theming-inspection-api.spec.ts
  src/material/core/theming/tests/theming-mixin-api.spec.ts
  src/material/core/theming/tests/theming-typography-hierarchy.spec.ts
  src/package.json
  tools/defaults.bzl
  tools/defaults2.bzl
  yarn.lock
Owners: @angular/components-googlers, @angular/dev-infra-components

build: migrate more targets to `ts_project`
  .bazelrc
  integration/size-test/BUILD.bazel
  src/BUILD.bazel
  src/cdk-experimental/BUILD.bazel
  src/cdk-experimental/ui-patterns/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/event-manager/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-focus/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-navigation/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-selection/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-typeahead/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/signal-like/BUILD.bazel
  src/cdk-experimental/ui-patterns/listbox/BUILD.bazel
  src/cdk/BUILD.bazel
  src/cdk/coercion/BUILD.bazel
  src/cdk/keycodes/BUILD.bazel
  src/cdk/testing/private/BUILD.bazel
  src/cdk/testing/protractor/BUILD.bazel
  src/cdk/testing/selenium-webdriver/BUILD.bazel
  src/cdk/testing/testbed/BUILD.bazel
  src/cdk/testing/tests/BUILD.bazel
  src/components-examples/private/BUILD.bazel
  src/google-maps/testing/BUILD.bazel
  src/material/BUILD.bazel
  src/material/autocomplete/testing/BUILD.bazel
  src/material/badge/testing/BUILD.bazel
  tools/bazel/ts_project_interop.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: include `src/cdk` in pnpm workspace
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  .bazelignore
  .npmrc
  WORKSPACE
  packages.bzl
  pnpm-lock.yaml
  src/cdk-experimental/package.json
  src/cdk/package.json
  src/components-examples/package.json
  src/google-maps/package.json
  src/material-date-fns-adapter/package.json
  src/material-experimental/package.json
  src/material-luxon-adapter/package.json
  src/material-moment-adapter/package.json
  src/material/package.json
  src/material/schematics/BUILD.bazel
  src/youtube-player/package.json
Owners: @angular/components-googlers

build: update sync config to reflect internal update (#30707)
  .ng-dev/google-sync-config.json
Owners: @angular/dev-infra-components

build: update `rules_angular`
  WORKSPACE
Owners: @angular/components-googlers

build: fix incorrect packaging of `theme-color` schematic
  src/material/schematics/BUILD.bazel
  src/material/schematics/ng-generate/theme-color/BUILD.bazel
Owners: @angular/components-googlers

build: migrate all `ng_e2e_test_library` targets to `ts_project`
  src/cdk-experimental/scrolling/BUILD.bazel
  src/cdk/overlay/BUILD.bazel
  src/cdk/testing/tests/BUILD.bazel
  src/material/slider/BUILD.bazel
  src/material/slider/slider.e2e.spec.ts
  src/universal-app/BUILD.bazel
  tools/defaults.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: remove `ts_library` from `defaults.bzl`
  WORKSPACE
  tools/defaults.bzl
  tools/defaults2.bzl
  tools/postinstall/patches/@bazel+concatjs+5.8.1.patch
Owners: @angular/components-googlers, @angular/dev-infra-components

docs: release notes for the v19.2.7 release
  CHANGELOG.md
Owners: @angular/components-googlers

release: cut the v20.0.0-next.4 release
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Owners: @angular/components-googlers

build: fix husky warnings (#30726)
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Owners: @angular/dev-infra-components

fix(material/form-field): use ResizeObserver for label offset calculation (#30702)
  goldens/cdk/bidi/index.api.md
  src/cdk/bidi/dir.ts
  src/cdk/bidi/directionality.ts
  src/dev-app/dev-app/dev-app-directionality.ts
  src/material/datepicker/date-range-input.spec.ts
  src/material/form-field/form-field.ts
Owners: @angular/components-googlers

ci: update bazel RBE setup on CI and use trusted build configuration for upstream CI runs (#30732)
  .bazelrc
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
Owners: @angular/components-googlers, @angular/dev-infra-components

build: update Node version
  .nvmrc
  WORKSPACE
Owners: @angular/components-googlers

build: update to the latest version of Angular
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  material.angular.io/package.json
  material.angular.io/yarn.lock
  package.json
  pnpm-lock.yaml
  yarn.lock
Owners: @angular/components-googlers

build: remove usages of platform-browser-dynamic
  integration/harness-e2e-cli/package.json
  integration/harness-e2e-cli/src/main.ts
  integration/harness-e2e-cli/src/test.ts
  integration/harness-e2e-cli/yarn.lock
  integration/ng-add-standalone/package.json
  integration/ng-add-standalone/yarn.lock
  integration/ng-add/package.json
  integration/ng-add/yarn.lock
  integration/yarn-pnp-compat/package.json
  integration/yarn-pnp-compat/src/main.ts
  integration/yarn-pnp-compat/src/test.ts
  integration/yarn-pnp-compat/yarn.lock
  material.angular.io/.aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  material.angular.io/WORKSPACE.bazel
  material.angular.io/package.json
  material.angular.io/pnpm-lock.yaml
  material.angular.io/scenes/src/test.ts
  material.angular.io/src/test.ts
  material.angular.io/yarn.lock
  packages.bzl
  pkg-externals.bzl
  test/BUILD.bazel
  test/angular-test-init-spec.ts
Owners: @angular/components-googlers, @angular/dev-infra-components

build: disable remote upload of local action results to RBE cache (#30723)
  .bazelrc
Owners: @angular/components-googlers

fix(cdk/overlay): use MutationObserver to detach overlay (#30703)
  src/cdk/overlay/overlay-ref.ts
  src/cdk/overlay/overlay.spec.ts
Owners: @angular/components-googlers

test(cdk/overlay): change how renders are counted in test (#30712)
  src/cdk/overlay/dispatchers/overlay-outside-click-dispatcher.spec.ts
Owners: @angular/components-googlers

refactor(material/snack-bar): switch from afterRender to afterNextRender (#30711)
  src/material/snack-bar/snack-bar-container.ts
Owners: @angular/components-googlers

build: prepare for new `ng_project` rule and try in `cdk/a11y`
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  package.json
  patches/@angular__compiler-cli.patch
  pnpm-lock.yaml
  src/cdk/a11y/BUILD.bazel
  tools/bazel/ts_project_interop.bzl
  tools/defaults2.bzl
Owners: @angular/components-googlers, @angular/dev-infra-components

build: update `markdown-to-html` to avoid output conflicts
  material.angular.io/src/app/pages/component-viewer/component-viewer.ts
  tools/markdown-to-html/index.bzl
  tools/markdown-to-html/transform-markdown.ts
Owners: @angular/components-googlers, @angular/dev-infra-components

build: ensure tsconfig is explicitly configured for `ts_project` targets
  tools/bazel/ts_project_interop.bzl
  tools/defaults2.bzl
Owners: @angular/dev-infra-components

build: patch `ng_package` to produce partial output with `ng_project`
  tools/postinstall/patches/@angular+bazel+20.0.0-next.1.patch
Owners: @angular/dev-infra-components

build: remove references to `ng_module` rule
  .bazelrc
  WORKSPACE
  src/cdk/keycodes/BUILD.bazel
  src/components-examples/config.bzl
  tools/defaults.bzl
  tools/postinstall/patches/@angular+bazel+20.0.0-next.1.patch
  tools/postinstall/patches/@angular+bazel+20.0.0-next.3.patch
Owners: @angular/components-googlers, @angular/dev-infra-components

refactor: remove internal mdc- vars (#30736)
  src/material/core/tokens/_mdc-tokens.scss
  src/material/core/tokens/_token-utils.scss
Owners: @angular/components-googlers

fix(cdk-experimental/popover-edit): use MutationObserver to detect table rows (#30713)
  src/cdk-experimental/popover-edit/table-directives.ts
Owners: @angular/components-googlers

build: adjust `sass` compiler to work with `rules_js`
  tools/sass/BUILD.bazel
Owners: @angular/dev-infra-components

build: update `ts_project` interop to default to `rules_js`
  tools/bazel/legacy_target.bzl
  tools/bazel/ts_project_interop.bzl
Owners: @angular/dev-infra-components

fix(material/form-field): move error aria-live to parent container (#30678)
  goldens/material/form-field/index.api.md
  goldens/material/input/index.api.md
  goldens/material/select/index.api.md
  src/material/chips/chip-grid.spec.ts
  src/material/form-field/directives/error.ts
  src/material/form-field/form-field.html
  src/material/form-field/form-field.ts
  src/material/input/input.spec.ts
Owners: @angular/components-googlers

docs: fix incorrect guide links after recent collision change (#30745)
  material.angular.io/src/app/shared/documentation-items/documentation-items.ts
  material.angular.io/src/app/shared/guide-items/guide-items.ts
Owners: @angular/components-googlers

feat(material/core): introduce custom token for controlling animations (#30749)
  goldens/material/core/index.api.md
  src/dev-app/main.ts
  src/material/core/animation/animation.ts
Owners: @angular/components-googlers

fix(multiple): remove backwards-compatibility code (#30747)
  goldens/cdk/platform/index.api.md
  src/cdk-experimental/popover-edit/table-directives.ts
  src/cdk/a11y/input-modality/input-modality-detector.ts
  src/cdk/drag-drop/drag-drop-registry.ts
  src/cdk/drag-drop/drag-ref.ts
  src/cdk/overlay/dispatchers/overlay-outside-click-dispatcher.ts
  src/cdk/platform/features/backwards-compatibility.ts
  src/cdk/platform/public-api.ts
  src/cdk/text-field/autofill.ts
  src/material/core/private/ripple-loader.ts
  src/material/datepicker/calendar-body.ts
  src/material/menu/menu-trigger.ts
  src/material/tabs/paginated-tab-header.ts
Owners: @angular/components-googlers

fix(material/snack-bar): rename snackbar token prefix (#30750)
  material.angular.io/scenes/src/app/scenes/snack-bar/snack-bar-scene.scss
  src/material/core/tokens/_density.scss
  src/material/core/tokens/m2/mdc/_snack-bar.scss
  src/material/core/tokens/m3/mdc/_snack-bar.scss
Owners: @angular/components-googlers

fix(material/checkbox): hardcode token renames (#30752)
  src/material/core/tokens/m3/mdc/_checkbox.scss
Owners: @angular/components-googlers

.github/CODEOWNERS:

*                                   @angular/components-googlers

/.circleci/                         @angular/dev-infra-components
/.husky/                            @angular/dev-infra-components
/.ng-dev/                           @angular/dev-infra-components
/.vscode/                           @angular/dev-infra-components
/.yarn/                             @angular/dev-infra-components
/scripts/                           @angular/dev-infra-components
/test/                              @angular/dev-infra-components

/.github/                           @angular/dev-infra-components
/.github/CODEOWNERS                 @angular/dev-infra-components @andrewseguin @jelbourn
/.github/ISSUE_TEMPLATE/**          @angular/components-googlers

/tools/                             @angular/dev-infra-components
/tools/public_api_guard/**/*.md     @angular/components-googlers
