Repository angular/components, pull requests merged in 2024-12, with the labels that each got.

#30103 fix(material/button-toggle): unable to tab into ngModel-based group on first render
  src/material/button-toggle/button-toggle.spec.ts
  src/material/button-toggle/button-toggle.ts
Labels: action: merge, target: patch, area: material/button-toggle

#30109 docs: remove duplicated tabs example
  src/components-examples/material/tabs/index.ts
  src/components-examples/material/tabs/tab-group-header-below/tab-group-header-below-example.ts
  src/components-examples/material/tabs/tab-group-inverted/tab-group-inverted-example.html
  src/components-examples/material/tabs/tab-group-inverted/tab-group-inverted-example.ts
  src/dev-app/tabs/tabs-demo.html
  src/dev-app/tabs/tabs-demo.ts
Labels: action: merge, target: patch, merge: fix commit message, area: docs

#30126 fix(youtube-player): update to latest typings
  package.json
  src/youtube-player/package.json
  src/youtube-player/youtube-player.ts
  yarn.lock
Labels: action: merge, target: patch, area: youtube-player

#30128 docs: release notes for the v19.0.2 release
  CHANGELOG.md
Labels: area: docs

#30120 feat(material-experimental/column-resize): Add support for "lazy" rat…
  renovate.json
  src/cdk-experimental/column-resize/column-resize.ts
  src/cdk-experimental/column-resize/overlay-handle.ts
  src/cdk-experimental/column-resize/resizable.ts
  src/cdk-experimental/column-resize/resize-ref.ts
  src/material-experimental/column-resize/column-resize.spec.ts
  src/material-experimental/column-resize/public-api.ts
Labels: action: merge, G, target: minor, detected: feature

#30119 fix(material/expansion): switch away from animations module
  src/material/expansion/expansion-animations.ts
  src/material/expansion/expansion-panel-header.html
  src/material/expansion/expansion-panel-header.scss
  src/material/expansion/expansion-panel-header.ts
  src/material/expansion/expansion-panel.html
  src/material/expansion/expansion-panel.scss
  src/material/expansion/expansion-panel.ts
  src/material/expansion/expansion.spec.ts
  tools/public_api_guard/material/expansion.md
Labels: action: merge, target: patch, area: material/expansion

#30133 ci: update to latest version of dev-infra actions
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
Labels: action: merge, target: patch, area: build & ci

#30131 build: update to TypeScript 5.7
  integration/harness-e2e-cli/package.json
  integration/harness-e2e-cli/yarn.lock
  integration/ng-add-standalone/package.json
  integration/ng-add-standalone/yarn.lock
  integration/ng-add/package.json
  integration/ng-add/yarn.lock
  integration/yarn-pnp-compat/.yarn/releases/yarn-4.4.1.cjs
  integration/yarn-pnp-compat/.yarn/releases/yarn-4.5.3.cjs
  integration/yarn-pnp-compat/.yarnrc.yml
  integration/yarn-pnp-compat/package.json
  integration/yarn-pnp-compat/yarn.lock
  package.json
  tools/public_api_guard/cdk/listbox.md
  tools/public_api_guard/cdk/overlay.md
  tools/public_api_guard/cdk/scrolling.md
  tools/public_api_guard/material/radio.md
  yarn.lock
Labels: action: merge, target: minor, area: build & ci

#30137 fix(material/timepicker): disable toggle if timepicker is disabled
  src/material/timepicker/timepicker-input.ts
  src/material/timepicker/timepicker-toggle.html
  src/material/timepicker/timepicker-toggle.ts
  src/material/timepicker/timepicker.scss
  src/material/timepicker/timepicker.spec.ts
  src/material/timepicker/timepicker.ts
  tools/public_api_guard/material/timepicker.md
Labels: action: merge, target: patch, area: material/timepicker

#30138 fix(material/paginator): ignore clicks on disabled buttons
  src/material/paginator/paginator.html
  src/material/paginator/paginator.spec.ts
  src/material/paginator/paginator.ts
  tools/public_api_guard/material/paginator.md
Labels: action: merge, G, target: patch, area: material/paginator

#30147 docs: archive changelog before v17
  CHANGELOG.md
  CHANGELOG_ARCHIVE.md
Labels: action: merge, target: patch, area: docs

#30136 feat(cdk-experimental/column-resize): Support column size persistance…
  src/cdk-experimental/column-resize/column-resize.ts
  src/cdk-experimental/column-resize/column-size-store.ts
  src/cdk-experimental/column-resize/resizable.ts
  src/material-experimental/column-resize/column-resize.spec.ts
  src/material-experimental/column-resize/public-api.ts
Labels: action: merge, G, target: minor, detected: feature

#30156 build: remove iOS test runs
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  package.json
  scripts/circleci/run-saucelabs-tests.sh
  scripts/saucelabs/start-tunnel.sh
  scripts/saucelabs/stop-tunnel.sh
  scripts/saucelabs/wait-tunnel.sh
  test/browser-providers.js
  test/karma-browsers.json
  test/karma.conf.js
  yarn.lock
Labels: action: merge, target: minor, area: build & ci

#30149 fix(material/timepicker): deserialize ControlValueAccessor values correctly
  src/material/timepicker/timepicker-input.ts
Labels: action: merge, target: patch, area: material/timepicker

#30142 fix(material/select): add opt-in input that allows selection of nullable options
  src/components-examples/material/select/index.ts
  src/components-examples/material/select/select-selectable-null/select-selectable-null-example.html
  src/components-examples/material/select/select-selectable-null/select-selectable-null-example.ts
  src/material/select/select.md
  src/material/select/select.spec.ts
  src/material/select/select.ts
  tools/public_api_guard/material/select.md
Labels: action: merge, target: patch, area: material/select

#30148 fix(material/menu): decouple menu lifecycle from animations
  src/material/menu/menu-content.ts
  src/material/menu/menu-trigger.ts
  src/material/menu/menu.spec.ts
Labels: action: merge, target: patch, area: material/menu

#30168 Revert "docs: archive changelog before v17"
  CHANGELOG.md
  CHANGELOG_ARCHIVE.md
Labels: action: merge, target: patch

#30161 fix(cdk-experimental/column-resize): Previous size was being sent for…
  src/cdk-experimental/column-resize/overlay-handle.ts
  src/material-experimental/column-resize/column-resize.spec.ts
Labels: action: merge, G, target: minor

#30172 fix(material/table): improve filter predicate efficiency
  src/material/table/table-data-source.ts
Labels: action: merge, target: patch, area: material/table

#30164 fix(material/tooltip): body line height affecting gap
  src/material/tooltip/tooltip.scss
Labels: action: merge, target: patch, area: material/tooltip

#30163 fix(material/menu): remove dependency on animations module
  src/material/menu/menu-animations.ts
  src/material/menu/menu-trigger.ts
  src/material/menu/menu.html
  src/material/menu/menu.scss
  src/material/menu/menu.ts
  tools/public_api_guard/material/menu.md
Labels: action: merge, target: patch, area: material/menu

#30179 refactor(multiple): use renderer for manual event bindings
  src/cdk/dialog/dialog-container.ts
  src/cdk/drag-drop/drag-drop.ts
  src/cdk/drag-drop/drag-ref.ts
  src/cdk/drag-drop/preview-ref.ts
  src/cdk/observers/private/shared-resize-observer.ts
  src/cdk/overlay/dispatchers/overlay-keyboard-dispatcher.spec.ts
  src/cdk/overlay/dispatchers/overlay-keyboard-dispatcher.ts
  src/cdk/overlay/fullscreen-overlay-container.ts
  src/cdk/overlay/overlay-ref.ts
  src/cdk/overlay/overlay.ts
  src/cdk/scrolling/viewport-ruler.ts
  src/cdk/text-field/autosize.ts
  src/material/autocomplete/autocomplete-trigger.ts
  src/material/button/button-base.ts
  src/material/expansion/expansion-panel.ts
  src/material/form-field/directives/line-ripple.ts
  src/material/input/input.ts
  src/material/list/selection-list.ts
  src/material/progress-bar/progress-bar.ts
  src/material/radio/radio.ts
  src/material/sidenav/drawer.ts
  src/material/slider/slider-input.ts
  src/material/slider/slider-thumb.ts
  src/material/timepicker/timepicker-input.ts
  tools/public_api_guard/cdk/drag-drop.md
  tools/public_api_guard/cdk/overlay.md
Labels: action: merge, target: patch

#30184 fix(cdk/drag-drop): stop dragging on touchcancel
  src/cdk/drag-drop/directives/standalone-drag.spec.ts
  src/cdk/drag-drop/drag-drop-registry.spec.ts
  src/cdk/drag-drop/drag-drop-registry.ts
Labels: action: merge, target: patch, area: cdk/drag-drop

#30188 fix(cdk/testing): add code to keyboard events
  src/cdk/testing/testbed/fake-events/dispatch-events.ts
  src/cdk/testing/testbed/fake-events/event-objects.ts
  src/cdk/testing/testbed/fake-events/type-in-element.ts
  src/cdk/testing/testbed/unit-test-element.ts
  src/cdk/testing/tests/cross-environment.spec.ts
  src/cdk/testing/tests/harnesses/main-component-harness.ts
  src/cdk/testing/tests/test-main-component.ts
Labels: action: merge, target: patch, area: cdk/testing

#30108 fix(material/theming): fix not found error in the guide duplicate theming styles document
  src/material/core/theming/_theming.scss
Labels: action: merge, target: patch

#30183 fix(material/list): enable MacOS select all with command+a
  src/material/list/selection-list.spec.ts
  src/material/list/selection-list.ts
Labels: action: merge, target: patch, dev-app preview

#30193 fix(material/table): set border none for header cells on last row
  src/material/table/table.scss
Labels: action: merge, target: patch, area: material/table

#30199 docs: update system var prefix
  tools/extract-tokens/extract-tokens.ts
Labels: action: merge, target: patch

#30202 docs(material/theming): fix typo in custom theme guide
  src/material/schematics/ng-generate/theme-color/README.md
Labels: action: merge, target: patch, merge: fix commit message, area: docs

#30201 refactor(multiple): replace fromEvent usages
  src/cdk-experimental/column-resize/column-resize.ts
  src/cdk-experimental/column-resize/overlay-handle.ts
  src/cdk/listbox/listbox.ts
  src/cdk/menu/menu-aim.ts
  src/cdk/menu/menu-base.ts
  src/cdk/menu/menu-item-checkbox.spec.ts
  src/cdk/menu/menu-item-radio.spec.ts
  src/cdk/menu/menu-item.spec.ts
  src/cdk/menu/menu-item.ts
  src/cdk/menu/menu-trigger.ts
  src/cdk/menu/pointer-focus-tracker.spec.ts
  src/cdk/menu/pointer-focus-tracker.ts
  src/cdk/overlay/position/flexible-connected-position-strategy.spec.ts
  src/cdk/scrolling/scroll-dispatcher.spec.ts
  src/cdk/scrolling/scroll-dispatcher.ts
  src/cdk/scrolling/scrollable.ts
  src/cdk/scrolling/virtual-scrollable-window.ts
  src/cdk/text-field/autosize.ts
  src/material/tabs/paginated-tab-header.ts
  tools/public_api_guard/cdk/menu.md
  tools/public_api_guard/cdk/scrolling.md
Labels: action: merge, target: minor

#30198 fix(material/sort): avoid center align for sort header
  src/material/sort/sort-header.scss
Labels: action: merge, target: patch, area: material/sort

#30204 docs(material/components): fix typos in material components
  src/material/autocomplete/autocomplete.ts
  src/material/chips/tokens.ts
  src/material/list/tokens.ts
  src/material/select/select.ts
Labels: action: merge, target: patch, merge: fix commit message, area: docs

#30213 build: point to the new material.angular.io workspace
  WORKSPACE
Labels: action: merge, target: minor, area: build & ci

#30217 fix(material/sort): show arrow on focus
  src/material/sort/sort-header.scss
Labels: action: merge, target: patch, area: material/sort

#30215 perf(cdk-experimental/column-resize): Use ResizeObserver to avoid lay…
  src/cdk-experimental/column-resize/resizable.ts
  src/cdk-experimental/column-resize/resize-strategy.ts
Labels: action: merge, G, target: patch, area: performance

#30214 perf(material/tooltip): Tiny but measurable optimization to MatToolti…
  src/material/tooltip/tooltip.ts
Labels: action: merge, G, target: patch, area: material/tooltip, area: performance

#30227 docs(material/sidenav): improve responsive example
  src/components-examples/material/sidenav/sidenav-responsive/sidenav-responsive-example.html
  src/components-examples/material/sidenav/sidenav-responsive/sidenav-responsive-example.ts
Labels: action: merge, target: patch, area: material/sidenav, area: docs

#30229 build: add missing dependency
  src/components-examples/material/sidenav/BUILD.bazel
Labels: action: merge, target: patch, area: build & ci

#30226 fix(cdk/tree): expandAll not expanding all nodes
  src/cdk/tree/tree.spec.ts
  src/cdk/tree/tree.ts
Labels: action: merge, target: patch, area: cdk/tree

#30234 fix(cdk/menu): not responding to position changes
  src/cdk/menu/menu-trigger.ts
  tools/public_api_guard/cdk/menu.md
Labels: action: merge, target: minor, area: cdk/menu

#30228 fix(material/timepicker): don't mark as touched when blurred while dropdown is open
  src/material/timepicker/timepicker-input.ts
  src/material/timepicker/timepicker.spec.ts
Labels: action: merge, target: patch, area: material/timepicker

#30224 Fixed displaying external link in component-category-list.html
  material.angular.io/src/app/pages/component-category-list/component-category-list.html
Labels: action: merge, target: minor
