Repository angular/components, pull requests merged in 2025-02, with the labels that each got.

#30427 fix(material/sidenav): end positioned sidenav not opening in RTL
  src/material/sidenav/drawer.scss
Labels: action: merge, target: patch, area: material/sidenav

#30433 docs: update links for Shadow DOM & Constructable Stylesheets
  guides/theming.md
Labels: action: merge, target: patch, area: docs

#30389 feat(material-angular-io): allow module imports to be copied from API tab
  material.angular.io/src/app/shared/doc-viewer/doc-viewer-module.ts
  material.angular.io/src/app/shared/doc-viewer/doc-viewer.spec.ts
  material.angular.io/src/app/shared/doc-viewer/doc-viewer.ts
  material.angular.io/src/app/shared/doc-viewer/module-import-copy-button.ts
  material.angular.io/src/styles/_api.scss
  tools/dgeni/templates/entry-point.template.html
Labels: action: merge, target: minor, area: material.angular.io, detected: feature

#30428 perf(material/button): Optimize the remaining descendant state selector.
  src/material/button/_button-base.scss
Labels: action: merge, G, target: patch, area: material/button, area: performance

#30437 docs(material-angular-io): fix clearing filter doesnt reset type filter
  material.angular.io/src/app/pages/component-viewer/token-table.html
Labels: action: merge, target: patch, area: docs

#30432 docs: add commit input validation in vscode settings
  .vscode/settings.json
Labels: action: merge, target: minor, area: docs

#27399 fix(material/chips): Async chips with a delay are not highlighted
  src/material/chips/chip-listbox.spec.ts
  src/material/chips/chip-listbox.ts
Labels: action: merge, target: patch, area: material/chips

#30443 build: fix failing test
  src/material/chips/chip-listbox.spec.ts
Labels: action: merge, target: patch, area: build & ci

#30441 refactor(material/schematics): drop standalone flag from schematics
  src/cdk/schematics/ng-generate/drag-drop/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts.template
  src/cdk/schematics/ng-generate/drag-drop/index.spec.ts
  src/material/schematics/ng-generate/address-form/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts.template
  src/material/schematics/ng-generate/address-form/index.spec.ts
  src/material/schematics/ng-generate/dashboard/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts.template
  src/material/schematics/ng-generate/dashboard/index.spec.ts
  src/material/schematics/ng-generate/navigation/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts.template
  src/material/schematics/ng-generate/navigation/index.spec.ts
  src/material/schematics/ng-generate/table/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts.template
  src/material/schematics/ng-generate/table/index.spec.ts
  src/material/schematics/ng-generate/tree/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts.template
  src/material/schematics/ng-generate/tree/index.spec.ts
Labels: action: merge, target: minor

#30450 docs: release notes for the v19.1.3 release
  CHANGELOG.md
Labels: area: docs

#30446 fix(material/core): remove animations from ng add
  src/material/schematics/ng-add/index.spec.ts
  src/material/schematics/ng-add/index.ts
  src/material/schematics/ng-add/schema.json
  src/material/schematics/ng-add/schema.ts
  src/material/schematics/ng-add/setup-project.ts
Labels: action: merge, target: minor, area: material/core

#30454 docs(material/table): use CSS transition for animation
  src/components-examples/material/table/table-expandable-rows/table-expandable-rows-example.css
  src/components-examples/material/table/table-expandable-rows/table-expandable-rows-example.html
  src/components-examples/material/table/table-expandable-rows/table-expandable-rows-example.ts
Labels: action: merge, target: minor, area: material/table, area: docs

#30440 perf(material/tooltip): Defer injection of injectables not needed unt…
  src/material/tooltip/tooltip.ts
Labels: action: merge, target: patch, area: material/tooltip, area: performance

#30461 fix(cdk/table): memory leak when no rows are sticky
  src/cdk/table/sticky-styler.ts
Labels: action: merge, target: patch, area: cdk/table

#30459 feat(material/core): drop dependency on animations module
  guides/getting-started.md
  guides/schematics.md
  src/material-experimental/package.json
  src/material/package.json
Labels: action: merge, target: minor, area: material/core, detected: feature

#30456 fix(material/select): overlay not detached on time after exit animation in some cases
  src/material/select/select.ts
Labels: action: merge, target: minor, area: material/select

#30468 build: add packageGroup to CDK
  src/cdk/package.json
Labels: action: merge, target: patch, area: build & ci

#30467 perf(multiple): Don't double-inject the style loader.
  src/material/badge/badge.ts
  src/material/chips/chip.ts
  src/material/core/option/option.ts
  src/material/stepper/step-header.ts
Labels: action: merge, target: patch, area: performance

#30419 docs(dialog-harness): fix typo
  src/material/dialog/testing/dialog-harness.ts
Labels: action: merge, target: patch, merge: fix commit message, area: docs

#29262 ci: begin checking licenses of upstream dependencies to ensure they are approved
  .github/workflows/pr.yml
Labels: action: merge, target: patch, area: build & ci

#29902 fix(m3-tokens): wrong hue reference
  src/material/core/tokens/m3/definitions/_md-sys-color.scss
Labels: action: merge, target: minor, merge: fix commit message

#30474 fix(cdk/overlay): avoid issues with overlapping backdrop removals
  src/cdk/overlay/backdrop-ref.ts
  src/cdk/overlay/overlay-ref.ts
Labels: action: merge, target: patch, area: cdk/overlay

#30473 fix(material/timepicker): allow scroll strategy to be customized
  src/material/timepicker/timepicker.ts
  tools/public_api_guard/material/timepicker.md
Labels: action: merge, target: minor, area: material/timepicker

#30479 fix(material/timepicker): allow scroll strategy to be customized
  src/material/timepicker/timepicker.ts
  tools/public_api_guard/material/timepicker.md
Labels: action: merge, target: patch, area: material/timepicker

#30481 docs: release notes for the v19.1.4 release
  CHANGELOG.md
Labels: area: docs

#30486 build: add missing `packageGroup` fields and packages in `package.json`
  packages.bzl
  src/cdk-experimental/package.json
  src/cdk/package.json
  src/material-date-fns-adapter/package.json
  src/material-experimental/package.json
  src/material-luxon-adapter/package.json
  src/material-moment-adapter/package.json
  src/material/package.json
Labels: action: merge, target: patch, area: build & ci, action: review

#30489 build: move license check to lint job
  .github/workflows/pr.yml
Labels: action: merge, target: patch, area: build & ci

#30470 perf(material/radio): Optimize costly css selectors.
  src/material/radio/_radio-common.scss
  src/material/radio/radio.scss
Labels: action: merge, target: patch, area: material/radio, area: performance

#30490 fix(material/slide-toggle): rendering issue in Safari 18.3
  src/material/slide-toggle/slide-toggle.scss
Labels: action: merge, target: patch, area: material/slide-toggle

#27769 fix(material/snack-bar): snack-bar action button does not follow material guidelines
  src/material/core/tokens/m2/mat/_snack-bar.scss
Labels: action: merge, target: patch, area: material/snack-bar

#30505 fix(material/paginator): disabled buttons not visible in high contrast mode
  src/material/paginator/paginator.scss
Labels: action: merge, target: patch, area: material/paginator

#30497 test(multiple): remove animations module from tests
  src/cdk/accordion/accordion-item.spec.ts
  src/cdk/accordion/accordion.spec.ts
  src/material/chips/chip-grid.spec.ts
  src/material/dialog/dialog.spec.ts
  src/material/expansion/accordion.spec.ts
  src/material/input/input.spec.ts
  src/material/sidenav/drawer.spec.ts
  src/material/tabs/tab-group.spec.ts
  src/material/tabs/tab-nav-bar/tab-nav-bar.spec.ts
Labels: action: merge, target: minor

#30500 fix(material/tooltip): regression when injecting ViewContainerRef
  src/material/tooltip/tooltip.ts
Labels: action: merge, target: patch, area: material/tooltip

#30511 fix(material/checkbox): ensure native control receives clicks
  src/material/checkbox/_checkbox-common.scss
Labels: action: merge, target: patch, area: material/checkbox

#30491 feat(youtube-player): add API to put the player in fullscreen mode
  src/dev-app/youtube-player/BUILD.bazel
  src/dev-app/youtube-player/youtube-player-demo.html
  src/dev-app/youtube-player/youtube-player-demo.ts
  src/youtube-player/BUILD.bazel
  src/youtube-player/youtube-player-placeholder.scss
  src/youtube-player/youtube-player.scss
  src/youtube-player/youtube-player.ts
  tools/public_api_guard/youtube-player/youtube-player.md
Labels: action: merge, target: minor, area: youtube-player, detected: feature

#30514 fix(cdk/drag-drop): avoid retaining destroyed items until next drag
  src/cdk/drag-drop/directives/drop-list.ts
Labels: action: merge, target: patch, area: cdk/drag-drop

#30517 docs: release notes for the v19.1.5 release
  CHANGELOG.md
Labels: area: docs

#30323 fix(cdk/stepper): Linear stepper after initialization navigating to previous step issue
  src/cdk/stepper/stepper.ts
  src/material/stepper/stepper.spec.ts
Labels: action: merge, target: patch, area: cdk/stepper

#30477 Optional typing of MatRadioChange
  src/material/radio/radio.ts
  tools/public_api_guard/material/radio.md
Labels: action: merge, target: patch, area: material/radio

#30324 Optional typing of MatSelectChange
  src/material/select/select.ts
  tools/public_api_guard/material/select.md
Labels: action: merge, target: patch, area: material/select

#30524 build: update main branch to v20
  package.json
Labels: action: merge, target: minor, area: build & ci

#30395 fix(material/form-field): trigger CD when form gets reassigned
  src/material/form-field/form-field.ts
  src/material/input/input.spec.ts
Labels: action: merge, target: patch, area: material/form-field

#30521 perf(material/slide-toggle): Optimize :state descendant selectors
  src/material/slide-toggle/slide-toggle.scss
Labels: action: merge, target: patch, area: material/slide-toggle, area: performance

#30492 fix(material/button): combine MatButton and MatAnchor
  src/material/button/button-base.ts
  src/material/button/button.ts
  src/material/button/fab.ts
  src/material/button/icon-button.ts
  src/material/button/module.ts
  src/material/datepicker/datepicker-toggle.html
  src/material/timepicker/timepicker-toggle.html
  tools/public_api_guard/material/button.md
Labels: action: merge, target: major, area: material/button, detected: breaking change

#30429 fix(material/chips): forced colors disabled chip fix
  src/material/chips/chip.scss
Labels: action: merge, target: patch, area: material/chips

#27460 fix(cdk/collections): SelectionModel setSelection method inconsistent…
  src/cdk/collections/selection-model.ts
  src/cdk/collections/selection.spec.ts
Labels: action: merge, target: patch, area: cdk/collections

#30530 Revert "perf(material/slide-toggle): Optimize :state descendant selectors
  src/material/slide-toggle/slide-toggle.scss
Labels: action: merge, target: patch

#30533 build: update to TypeScript 5.8
  package.json
  yarn.lock
Labels: action: merge, target: patch, area: build & ci

#30510 fix(cdk/drag-drop): incorrect type DragConstrainPosition
  src/cdk/drag-drop/directives/config.ts
  src/cdk/drag-drop/directives/drag.ts
  src/cdk/drag-drop/drag-ref.ts
  src/cdk/drag-drop/public-api.ts
  tools/public_api_guard/cdk/drag-drop.md
Labels: action: merge, target: minor, area: cdk/drag-drop

#30534 fix(material/datepicker): changed after checked error when assigning end value
  src/material/datepicker/date-range-input-parts.ts
  tools/public_api_guard/material/datepicker.md
Labels: action: merge, target: patch, area: material/datepicker

#30532 fix(material/list): option views not change detected when control is disabled
  src/material/list/selection-list.spec.ts
  src/material/list/selection-list.ts
Labels: action: merge, target: patch, area: material/list

#30538 fix(material/core): deprecate AnimationCurves and AnimationDurations
  src/material/core/animation/animation.ts
  tools/public_api_guard/material/core.md
Labels: action: merge, area: material/core, target: rc

#30513 fix(material/button): incorrect outlined focus overlay shape when border radius is customized
  src/material/button/button-high-contrast.scss
  src/material/button/button.scss
Labels: action: merge, target: patch, area: material/button

#30543 fix(material-angular-io): update site images
  material.angular.io/scenes/src/app/scene-viewer/scene-viewer.scss
  material.angular.io/src/assets/img/favicon.ico
  material.angular.io/src/assets/img/favicons/android-chrome-192x192.png
  material.angular.io/src/assets/img/favicons/android-chrome-512x512.png
  material.angular.io/src/assets/img/favicons/apple-touch-icon.png
  material.angular.io/src/assets/img/favicons/browserconfig.xml
  material.angular.io/src/assets/img/favicons/favicon-16x16.png
  material.angular.io/src/assets/img/favicons/favicon-32x32.png
  material.angular.io/src/assets/img/favicons/favicon.ico
  material.angular.io/src/assets/img/favicons/manifest.json
  material.angular.io/src/assets/img/favicons/mstile-150x150.png
  material.angular.io/src/assets/img/favicons/safari-pinned-tab.svg
  material.angular.io/src/assets/img/manifest.json
  material.angular.io/src/assets/img/site-preview.png
  material.angular.io/src/assets/screenshots/autocomplete.scene.png
  material.angular.io/src/assets/screenshots/select.scene.png
  material.angular.io/src/assets/screenshots/timepicker.scene.png
  material.angular.io/src/favicon.ico
  material.angular.io/src/index.html
  material.angular.io/tools/audit-docs.js
Labels: action: merge, target: patch

#30554 docs: release notes for the v19.2.0 release
  CHANGELOG.md
Labels: area: docs

#30556 docs: release notes for the v19.2.1 release
  CHANGELOG.md
Labels: area: docs

#30549 fix(material/bottom-sheet): focus first tabbable element by default
  src/material/bottom-sheet/bottom-sheet-config.ts
  src/material/bottom-sheet/bottom-sheet-container.ts
  src/material/bottom-sheet/bottom-sheet.spec.ts
  tools/public_api_guard/material/bottom-sheet.md
Labels: action: merge, target: patch, area: material/bottom-sheet

#30561 fix(material/timepicker): unable to reopen if closed by scroll strategy
  src/material/timepicker/BUILD.bazel
  src/material/timepicker/timepicker.spec.ts
  src/material/timepicker/timepicker.ts
Labels: action: merge, target: patch, area: material/timepicker

#30564 fix(material-angular-io): sidenav links not updating
  material.angular.io/src/app/pages/component-sidenav/component-nav.html
  material.angular.io/src/app/pages/component-sidenav/component-sidenav.html
  material.angular.io/src/app/pages/component-sidenav/component-sidenav.ts
Labels: action: merge, target: patch

#30495 feat(cdk-experimental/ui-patterns): listbox ui pattern
  .ng-dev/commit-message.mts
  src/cdk-experimental/config.bzl
  src/cdk-experimental/listbox/BUILD.bazel
  src/cdk-experimental/listbox/index.ts
  src/cdk-experimental/listbox/listbox.ts
  src/cdk-experimental/listbox/public-api.ts
  src/cdk-experimental/ui-patterns/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/event-manager/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/event-manager/event-manager.ts
  src/cdk-experimental/ui-patterns/behaviors/event-manager/keyboard-event-manager.ts
  src/cdk-experimental/ui-patterns/behaviors/event-manager/pointer-event-manager.ts
  src/cdk-experimental/ui-patterns/behaviors/list-focus/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-focus/list-focus.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-focus/list-focus.ts
  src/cdk-experimental/ui-patterns/behaviors/list-navigation/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-navigation/list-navigation.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-navigation/list-navigation.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.ts
  src/cdk-experimental/ui-patterns/behaviors/list-typeahead/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-typeahead/list-typeahead.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-typeahead/list-typeahead.ts
  src/cdk-experimental/ui-patterns/index.ts
  src/cdk-experimental/ui-patterns/listbox/BUILD.bazel
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/listbox/option.ts
  src/cdk-experimental/ui-patterns/public-api.ts
  src/components-examples/cdk-experimental/listbox/BUILD.bazel
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.css
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.ts
  src/components-examples/cdk-experimental/listbox/index.ts
  src/dev-app/BUILD.bazel
  src/dev-app/cdk-experimental-listbox/BUILD.bazel
  src/dev-app/cdk-experimental-listbox/cdk-listbox-demo.html
  src/dev-app/cdk-experimental-listbox/cdk-listbox-demo.ts
  src/dev-app/dev-app/dev-app-layout.ts
  src/dev-app/routes.ts
  tslint.json
Labels: action: merge, target: minor, detected: feature

#30562 fix(material/schematics): remove NoopAnimationsModule from generated tests
  src/cdk/schematics/ng-generate/drag-drop/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.spec.ts.template
  src/material/schematics/ng-generate/address-form/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.spec.ts.template
  src/material/schematics/ng-generate/dashboard/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.spec.ts.template
  src/material/schematics/ng-generate/navigation/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.spec.ts.template
  src/material/schematics/ng-generate/table/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.spec.ts.template
  src/material/schematics/ng-generate/tree/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.spec.ts.template
Labels: action: merge, target: patch
