Repository angular/components, pull requests merged in 2025-01, with the labels that each got.

#30257 build: bump year
  LICENSE
Labels: action: merge, target: patch, area: build & ci

#30242 perf(cdk/table): Use afterNextRender for sticky styling. Fixes a perf…
  src/cdk/table/sticky-styler.ts
  src/cdk/table/table.ts
  tools/public_api_guard/cdk/table.md
Labels: action: merge, G, target: minor, area: cdk/table, area: performance

#30249 fix(cdk/menu): avoid resetting the scroll position when using the mouse
  src/cdk/menu/menu-base.ts
Labels: action: merge, target: minor, area: cdk/menu

#30247 fix(material/datepicker): simplify DI setup
  src/material/datepicker/date-range-input-parts.ts
  src/material/datepicker/date-range-input.ts
  tools/public_api_guard/material/datepicker.md
Labels: action: merge, target: patch, area: material/datepicker

#30259 fix(cdk/scrolling): avoid SSR error in CdkVirtualScrollableWindow
  src/cdk/scrolling/virtual-scrollable-window.ts
Labels: action: merge, target: minor, area: cdk/scrolling

#30237 docs(cdk/overlay): keep state in sync in example
  src/components-examples/cdk/overlay/cdk-overlay-basic/cdk-overlay-basic-example.html
Labels: action: merge, target: patch, area: cdk/overlay, area: docs

#30253 refactor(material/paginator): switch to inject function
  src/material/paginator/paginator.ts
  tools/public_api_guard/material/paginator.md
Labels: action: merge, target: patch, area: material/paginator

#30235 fix(material/sidenav): switch away from animations module
  src/dev-app/sidenav/sidenav-demo.ts
  src/material/sidenav/drawer-animations.ts
  src/material/sidenav/drawer.scss
  src/material/sidenav/drawer.ts
  src/material/sidenav/sidenav.ts
  tools/public_api_guard/material/sidenav.md
Labels: action: merge, target: patch, area: material/sidenav

#30273 build: update angular shared dev-infra code to 359350b
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  material.angular.io/.github/workflows/ci.yml
  material.angular.io/.github/workflows/pr.yml
  material.angular.io/WORKSPACE.bazel
Labels: action: merge, target: minor, area: build & ci

#30274 [Patch version] build: update angular shared dev-infra code to 359350b
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
Labels: action: merge, target: patch, area: build & ci

#30265 perf(material/tooltip): Use afterNextRender to invoke aria describer …
  src/material/tooltip/tooltip.ts
Labels: action: merge, G, target: minor, area: material/tooltip, area: performance

#30282 docs: Update references to M2 theming guide color variants section and add link to styling tab for color input descriptions
  guides/material-2.md
  src/material/badge/badge.ts
  src/material/button/button-base.ts
  src/material/button/fab.ts
  src/material/checkbox/checkbox-config.ts
  src/material/checkbox/checkbox.ts
  src/material/chips/chip.ts
  src/material/datepicker/datepicker-base.ts
  src/material/form-field/form-field.ts
  src/material/icon/icon.ts
  src/material/list/list-option.ts
  src/material/list/selection-list.ts
  src/material/paginator/paginator.ts
  src/material/progress-bar/progress-bar.ts
  src/material/progress-spinner/progress-spinner.ts
  src/material/radio/radio.ts
  src/material/slide-toggle/slide-toggle-config.ts
  src/material/slide-toggle/slide-toggle.ts
  src/material/slider/slider.ts
  src/material/stepper/step-header.ts
  src/material/stepper/stepper.ts
  src/material/tabs/tab-group.ts
  src/material/tabs/tab-nav-bar/tab-nav-bar.ts
  src/material/toolbar/toolbar.ts
Labels: action: merge, target: patch, area: docs

#30291 docs: release notes for the v19.0.5 release
  CHANGELOG.md
Labels: area: docs

#30285 fix(material-luxon-adapter): infer first day of week from locale
  src/material-luxon-adapter/adapter/luxon-date-adapter.spec.ts
  src/material-luxon-adapter/adapter/luxon-date-adapter.ts
Labels: action: merge, target: patch

#30297 build: update to Angular 19.1 RC
  package.json
  yarn.lock
Labels: action: merge, area: build & ci, target: rc

#30301 fix(material/menu): lazy content not detached after animation
  src/material/menu/menu-trigger.ts
  src/material/menu/menu.spec.ts
Labels: action: merge, G, target: patch, area: material/menu

#30304 fix(material/select): remove color transition w/ no animations module
  src/material/select/select.scss
Labels: action: merge, target: patch, area: material/select

#30310 fix(material/tooltip): deprecate matTooltipAnimations
  src/material/tooltip/tooltip-animations.ts
  tools/public_api_guard/material/tooltip.md
Labels: action: merge, target: patch, area: material/tooltip

#30313 fix(material/tabs): tab nav bar animation not working when navigating forwards
  src/material/tabs/tab-nav-bar/tab-nav-bar.ts
  tools/public_api_guard/material/tabs.md
Labels: action: merge, target: patch, area: material/tabs

#29870 fix(material/select): match disabled placeholder color with label
  src/material/select/select.scss
Labels: action: merge, target: patch

#30281 fix(material/tabs): switch away from animations module
  src/material/tabs/tab-body.html
  src/material/tabs/tab-body.scss
  src/material/tabs/tab-body.spec.ts
  src/material/tabs/tab-body.ts
  src/material/tabs/tab-group.html
  src/material/tabs/tab-group.spec.ts
  src/material/tabs/tab-group.ts
  src/material/tabs/tab.ts
  src/material/tabs/tabs-animations.ts
  tools/public_api_guard/material/tabs.md
Labels: action: merge, target: minor, area: material/tabs

#30317 test(material/slider): Ensure tick marks are rendered correctly
  src/material/slider/slider.spec.ts
Labels: action: merge, target: patch, area: material/slider

#30305 perf(material/table): Optimize expensive css selector
  src/material/table/table.scss
Labels: action: merge, G, target: patch, area: material/table, area: performance

#30288 refactor: move material.aio GHA to the root
  .github/workflows/ci.material-aio.yml
  .github/workflows/pr.material-aio.yml
  material.angular.io/.github/ISSUE_TEMPLATE/docs-infra.md
Labels: action: merge, target: rc

#30321 feat(material/schematics): Add option to customize colors for neutral variant and error palettes
  src/material/schematics/ng-generate/theme-color/README.md
  src/material/schematics/ng-generate/theme-color/index.spec.ts
  src/material/schematics/ng-generate/theme-color/index.ts
  src/material/schematics/ng-generate/theme-color/schema.d.ts
Labels: action: merge, target: minor, detected: feature

#30320 perf(material/button): Remove unused inject.
  src/material/button/BUILD.bazel
  src/material/button/button-base.ts
  tools/public_api_guard/material/button.md
Labels: action: merge, G, target: patch, area: material/button, area: performance

#30284 fix(material/timepicker): adds default aria-label to timepicker toggle
  src/material/timepicker/timepicker-toggle.html
  src/material/timepicker/timepicker-toggle.ts
  tools/public_api_guard/material/timepicker.md
Labels: action: merge, target: patch, area: build & ci, dev-app preview, area: material/timepicker

#30335 test(material/timepicker): update timepicker tests to match timepicker toggle changes
  src/material/timepicker/timepicker.spec.ts
Labels: action: merge, target: patch, area: material/timepicker

#30329 fix(material/slider): tick mark positioning
  src/material/slider/slider.spec.ts
  src/material/slider/slider.ts
Labels: action: merge, target: patch, area: material/slider

#30314 fix(material/stepper): switch away from animations module
  src/cdk/stepper/stepper.ts
  src/material/stepper/stepper-animations.ts
  src/material/stepper/stepper.html
  src/material/stepper/stepper.scss
  src/material/stepper/stepper.spec.ts
  src/material/stepper/stepper.ts
  tools/public_api_guard/cdk/stepper.md
  tools/public_api_guard/material/stepper.md
Labels: action: merge, target: minor, area: material/stepper

#30332 fix(material/checkbox): ensure focus indicator has the correct shape
  src/material/checkbox/checkbox.scss
Labels: action: merge, target: patch, area: material/checkbox

#30344 docs: release notes for the v19.1.0 release
  CHANGELOG.md
Labels: area: docs

#30347 fix(material/chip): fix chip blur timing
  src/material/chips/chip.ts
Labels: action: merge, target: patch, area: material/chips

#30352 fix(material/expansion): inherit shape for focus indicator
  src/material/expansion/expansion-panel-header.scss
Labels: action: merge, target: patch, area: material/expansion

#30354 fix(material/form-field): remove dependency on animations module
  src/material/form-field/_form-field-subscript.scss
  src/material/form-field/_mdc-text-field-structure.scss
  src/material/form-field/form-field-animations.ts
  src/material/form-field/form-field.html
  src/material/form-field/form-field.scss
  src/material/form-field/form-field.ts
  src/material/input/input.spec.ts
  src/material/select/select.scss
  tools/public_api_guard/material/form-field.md
Labels: action: merge, target: minor, area: material/form-field

#30356 fix(material/autocomplete): switch away from animations module
  src/material/autocomplete/animations.ts
  src/material/autocomplete/autocomplete-trigger.ts
  src/material/autocomplete/autocomplete.html
  src/material/autocomplete/autocomplete.scss
  src/material/autocomplete/autocomplete.spec.ts
  src/material/autocomplete/autocomplete.ts
  tools/public_api_guard/material/autocomplete.md
Labels: action: merge, target: minor, area: material/autocomplete

#30360 fix(material/datepicker): switch away from animations module
  src/material/datepicker/datepicker-animations.ts
  src/material/datepicker/datepicker-base.ts
  src/material/datepicker/datepicker-content.html
  src/material/datepicker/datepicker-content.scss
  src/material/datepicker/datepicker.spec.ts
  tools/public_api_guard/material/datepicker.md
Labels: action: merge, target: minor, area: material/datepicker

#30370 docs: release notes for the v19.1.1 release
  CHANGELOG.md
Labels: area: docs

#30372 build: initial attempt to fix docs site deployment
  material.angular.io/tools/lighthouse-audit.mjs
  package.json
  scripts/docs-deploy/clone-docs-repo.mts
  scripts/docs-deploy/docs-deps-install.mts
  yarn.lock
Labels: action: merge, target: patch, area: build & ci

#30376 fix(material/button-toggle): incorrect shape of focus indicator in vertical group
  src/material/button-toggle/button-toggle.scss
Labels: action: merge, target: patch, area: material/button-toggle

#30378 fix(cdk/table): Column sizing and scrolling bug when number of column…
  src/cdk-experimental/column-resize/resize-strategy.ts
  src/cdk/table/sticky-styler.ts
Labels: action: merge, G, target: patch, area: cdk/table

#30391 ci: add `material-angular-io` to commit scopes
  .ng-dev/commit-message.mts
Labels: action: merge, target: patch, area: build & ci

#30392 fix(google-maps): hide info window node when opened with content
  src/google-maps/map-info-window/map-info-window.ts
Labels: action: merge, target: patch, area: google-maps

#30394 build: update to Angular 19.1 stable
  package.json
  yarn.lock
Labels: action: merge, target: patch, area: build & ci

#30381 fix(material/snack-bar): switch away from animations module
  src/material/snack-bar/snack-bar-animations.ts
  src/material/snack-bar/snack-bar-container.scss
  src/material/snack-bar/snack-bar-container.ts
  src/material/snack-bar/snack-bar.spec.ts
  src/material/snack-bar/snack-bar.ts
  tools/public_api_guard/material/snack-bar.md
Labels: action: merge, target: minor, area: material/snack-bar

#30367 fix(material/select): fixed text color for selected options in multiple select
  src/material/core/option/option.scss
Labels: action: merge, target: patch

#30386 perf(material/checkbox): Optimize css selectors
  src/material/checkbox/_checkbox-common.scss
Labels: action: merge, target: patch, area: material/checkbox, area: performance

#30385 perf(material/button): Change frequently missed descendant selectors …
  src/material/button/_button-base.scss
Labels: action: merge, target: patch, area: material/button, area: performance

#30387 docs-bug(cdk/tree): fix broken examples in stackblitz
  src/components-examples/cdk/tree/cdk-tree-flat-children-accessor/cdk-tree-flat-children-accessor-example-data.ts
  src/components-examples/cdk/tree/cdk-tree-flat-children-accessor/cdk-tree-flat-children-accessor-example.ts
  src/components-examples/cdk/tree/cdk-tree-flat-level-accessor/cdk-tree-flat-level-accessor-example-data.ts
  src/components-examples/cdk/tree/cdk-tree-flat-level-accessor/cdk-tree-flat-level-accessor-example.ts
  src/components-examples/cdk/tree/cdk-tree-nested-children-accessor/cdk-tree-nested-children-accessor-example-data.ts
  src/components-examples/cdk/tree/cdk-tree-nested-children-accessor/cdk-tree-nested-children-accessor-example.ts
  src/components-examples/cdk/tree/cdk-tree-nested-level-accessor/cdk-tree-nested-level-accessor-example-data.ts
  src/components-examples/cdk/tree/cdk-tree-nested-level-accessor/cdk-tree-nested-level-accessor-example.ts
Labels: action: merge, target: patch, area: cdk/tree

#30400 docs: updates buttons with icons a11y recommendations
  src/material/button/button.md
Labels: action: merge, target: patch, area: docs

#30404 fix(material/timepicker): switch away from animations module
  src/material/timepicker/timepicker.html
  src/material/timepicker/timepicker.scss
  src/material/timepicker/timepicker.ts
  tools/public_api_guard/material/timepicker.md
Labels: action: merge, target: minor, area: material/timepicker

#30393 refactor(cdk/a11y): explicitly add `Provider` type
  src/cdk/a11y/key-manager/noop-tree-key-manager.ts
  tools/public_api_guard/cdk/a11y.md
Labels: action: merge, target: patch, area: cdk/a11y

#30401 fix(cdk/platform): preserve compatibility with angular versions less than 19.1
  src/cdk/drag-drop/drag-drop-registry.ts
  src/cdk/platform/features/backwards-compatibility.ts
  tools/public_api_guard/cdk/platform.md
Labels: action: merge, target: minor, area: cdk/platform

#30402 fix(material/bottom-sheet): switch away from animations module
  src/material/bottom-sheet/bottom-sheet-animations.ts
  src/material/bottom-sheet/bottom-sheet-container.scss
  src/material/bottom-sheet/bottom-sheet-container.ts
  src/material/bottom-sheet/bottom-sheet-ref.ts
  src/material/bottom-sheet/testing/bottom-sheet-harness.ts
  tools/public_api_guard/material/bottom-sheet.md
Labels: action: merge, target: minor, area: material/bottom-sheet

#30407 fix(cdk/platform): preserve compatibility with angular versions less than 19.1
  src/cdk/platform/features/backwards-compatibility.ts
  tools/public_api_guard/cdk/platform.md
Labels: action: merge, target: patch, area: cdk/platform

#30408 fix(material/select): avoid error if panel is closed too quickly
  src/material/select/select.spec.ts
  src/material/select/select.ts
Labels: action: merge, target: minor, area: material/select

#30411 fix(cdk/dialog): default aria-modal to false
  src/cdk/dialog/dialog-config.ts
  src/cdk/dialog/dialog.spec.ts
  src/material/bottom-sheet/bottom-sheet-config.ts
  src/material/bottom-sheet/bottom-sheet.spec.ts
  src/material/dialog/dialog-config.ts
  src/material/dialog/dialog.spec.ts
Labels: action: merge, target: patch, area: cdk/dialog

#30412 fix(cdk/text-field): auto sizing broken if user styles stretch the element
  src/cdk/text-field/autosize.ts
Labels: action: merge, G, target: patch, area: cdk/text-field

#30415 docs: release notes for the v19.1.2 release
  CHANGELOG.md
Labels: area: docs

#25553 fix(material/button-toggle): make null value selected on init
  src/material/button-toggle/button-toggle.spec.ts
  src/material/button-toggle/button-toggle.ts
Labels: action: merge, target: patch, area: material/button-toggle

#30413 fix(cdk-experimental/column-resize): Fix lazy resize mode (broken by …
  src/cdk-experimental/column-resize/column-resize.ts
  src/cdk-experimental/column-resize/resize-strategy.ts
  src/material-experimental/column-resize/_column-resize-theme.scss
Labels: action: merge, G, target: patch

#30424 Updated selectors in CSS snippet as per HTML snippet
  guides/creating-a-custom-stepper-using-the-cdk-stepper.md
Labels: action: merge, target: patch

#30396 docs: clear input field whenever a selection is made in chips autocomplete example
  src/components-examples/material/chips/chips-autocomplete/chips-autocomplete-example.html
Labels: action: merge, target: patch, area: docs

#30409 perf(material/checkbox): Optimize more expensive selectors
  src/material/checkbox/_checkbox-common.scss
  src/material/list/list-option.scss
Labels: action: merge, target: patch, area: material/checkbox, area: performance
