Repository angular/components, pull requests merged in 2025-03, with the labels that each got.

#30569 fix(multiple): remove remaining references to ComponentFactoryResolver
  src/cdk/dialog/dialog-config.ts
  src/cdk/overlay/overlay.ts
  src/cdk/portal/dom-portal-outlet.ts
  src/cdk/portal/portal.spec.ts
  src/cdk/portal/portal.ts
  src/material/dialog/dialog-config.ts
  src/material/menu/menu-content.ts
  tools/public_api_guard/cdk/dialog.md
  tools/public_api_guard/cdk/portal.md
  tools/public_api_guard/material/dialog.md
Labels: action: merge, target: major, detected: breaking change

#30579 fix(cdk/stepper): emitting interacted event when item has not changed
  src/cdk/stepper/stepper.ts
  src/material/stepper/stepper.spec.ts
Labels: action: merge, target: patch, area: cdk/stepper

#30570 fix(multiple): resolve host binding issues
  src/material/chips/chip-listbox.ts
  src/material/chips/chip-row.ts
  src/material/list/list-option.ts
  src/material/sort/sort-header.ts
  tools/public_api_guard/material/list.md
Labels: action: merge, target: patch

#30582 docs: add missing closing bracket in system token example
  guides/theming.md
Labels: action: merge, target: patch, area: docs

#30590 docs: release notes for the v19.2.2 release
  CHANGELOG.md
Labels: area: docs

#30591 build: set up schematics for v20
  src/cdk/schematics/migration.json
  src/cdk/schematics/ng-update/index.ts
  src/cdk/schematics/update-tool/target-version.ts
  src/google-maps/schematics/migration.json
  src/google-maps/schematics/ng-update/BUILD.bazel
  src/google-maps/schematics/ng-update/index.ts
  src/google-maps/schematics/ng-update/v19-ng-update.spec.ts
  src/material/schematics/migration.json
  src/material/schematics/ng-update/index.ts
  src/material/schematics/ng-update/test-cases/v19-explicit-system-variable-prefix.spec.ts
  src/material/schematics/ng-update/test-cases/v19-mat-core-removal.spec.ts
Labels: action: merge, target: major, area: build & ci

#30584 fix(cdk/portal): remove deprecated symbols
  src/cdk/portal/dom-portal-outlet.ts
  src/cdk/portal/portal-injector.ts
  src/cdk/portal/portal.ts
  src/cdk/portal/public-api.ts
  tools/public_api_guard/cdk/portal.md
Labels: action: merge, target: major, area: cdk/portal, detected: breaking change

#30593 fix(material/timepicker): wrong default scroll strategy
  src/material/timepicker/timepicker.ts
Labels: action: merge, target: patch, area: material/timepicker

#30595 build: update to Angular v20 and Node v20
  .nvmrc
  WORKSPACE
  integration/harness-e2e-cli/yarn.lock
  integration/ng-add-standalone/yarn.lock
  integration/ng-add/yarn.lock
  integration/yarn-pnp-compat/yarn.lock
  material.angular.io/package.json
  package.json
  tools/postinstall/patches/@angular+build-tooling+0.0.0-1ebf18a3a60b182a3dbad12e9a149fd93af5c29b.patch
  yarn.lock
Labels: action: merge, target: major, area: build & ci

#30597 refactor(cdk-experimental/ui-patterns): loosen the API to accept different types of signals
  src/cdk-experimental/ui-patterns/behaviors/event-manager/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/event-manager/keyboard-event-manager.ts
  src/cdk-experimental/ui-patterns/behaviors/list-focus/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-focus/list-focus.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-focus/list-focus.ts
  src/cdk-experimental/ui-patterns/behaviors/list-navigation/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-navigation/list-navigation.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-navigation/list-navigation.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.ts
  src/cdk-experimental/ui-patterns/behaviors/list-typeahead/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-typeahead/list-typeahead.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-typeahead/list-typeahead.ts
  src/cdk-experimental/ui-patterns/behaviors/signal-like/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/signal-like/signal-like.ts
  src/cdk-experimental/ui-patterns/listbox/BUILD.bazel
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/listbox/option.ts
Labels: action: merge, target: major

#30581 build(material-angular-io): fix docs site deployment
  material.angular.io/package.json
  material.angular.io/pnpm-lock.yaml
  material.angular.io/src/app/shared/doc-viewer/doc-viewer.ts
  material.angular.io/yarn.lock
Labels: action: merge, target: major, area: build & ci

#30598 build: update `@angular/bazel` for relative imports in `ng_package`
  WORKSPACE
  package.json
  tools/postinstall/patches/@angular+bazel+20.0.0-next.1.patch
  yarn.lock
Labels: action: merge, target: major, area: build & ci

#30602 fix(material/schematics): some options missing from schema
  src/material/schematics/ng-generate/theme-color/schema.json
Labels: action: merge, target: patch

#30601 docs(cdk/tree): examples not working when forked to Stackblitz
  src/components-examples/cdk/tree/cdk-tree-complex/cdk-tree-complex-example.ts
  src/components-examples/cdk/tree/cdk-tree-custom-key-manager/cdk-tree-custom-key-manager-example.ts
  src/components-examples/cdk/tree/cdk-tree-flat-children-accessor/cdk-tree-flat-children-accessor-example-data.ts
  src/components-examples/cdk/tree/cdk-tree-flat-children-accessor/cdk-tree-flat-children-accessor-example.ts
  src/components-examples/cdk/tree/cdk-tree-flat-level-accessor/cdk-tree-flat-level-accessor-example-data.ts
  src/components-examples/cdk/tree/cdk-tree-flat-level-accessor/cdk-tree-flat-level-accessor-example.ts
  src/components-examples/cdk/tree/cdk-tree-flat/cdk-tree-flat-example.ts
  src/components-examples/cdk/tree/cdk-tree-nested-children-accessor/cdk-tree-nested-children-accessor-example-data.ts
  src/components-examples/cdk/tree/cdk-tree-nested-children-accessor/cdk-tree-nested-children-accessor-example.ts
  src/components-examples/cdk/tree/cdk-tree-nested-level-accessor/cdk-tree-nested-level-accessor-example-data.ts
  src/components-examples/cdk/tree/cdk-tree-nested-level-accessor/cdk-tree-nested-level-accessor-example.ts
  src/components-examples/cdk/tree/cdk-tree-nested/cdk-tree-nested-example.ts
  src/components-examples/material/tree/tree-dynamic/tree-dynamic-example.ts
  src/components-examples/material/tree/tree-flat-child-accessor-overview/tree-flat-child-accessor-overview-example.ts
  src/components-examples/material/tree/tree-flat-overview/tree-flat-overview-example.ts
  src/components-examples/material/tree/tree-harness/tree-harness-example.ts
  src/components-examples/material/tree/tree-legacy-keyboard-interface/tree-legacy-keyboard-interface-example.ts
  src/components-examples/material/tree/tree-loadmore/tree-loadmore-example.ts
  src/components-examples/material/tree/tree-nested-child-accessor-overview/tree-nested-child-accessor-overview-example.ts
  src/components-examples/material/tree/tree-nested-overview/tree-nested-overview-example.ts
Labels: action: merge, target: patch, area: cdk/tree, area: docs

#30610 fix(cdk/portal): fix incorrect injector hierarchy with DomPortalOutlet and child environment injectors
  src/cdk/portal/dom-portal-outlet.ts
  src/cdk/portal/portal.spec.ts
Labels: action: merge, target: patch, area: cdk/portal

#30617 build: update `@angular/bazel` to support `.d.ts` code splitting
  package.json
  tools/postinstall/patches/@angular+bazel+20.0.0-next.1.patch
  yarn.lock
Labels: action: merge, target: major, area: build & ci

#30608 fix(multiple): deprecate exported factories
  src/cdk/a11y/key-manager/tree-key-manager.ts
  src/cdk/a11y/live-announcer/live-announcer-tokens.ts
  src/cdk/bidi/dir-document-token.ts
  src/cdk/overlay/overlay-directives.ts
  src/material-luxon-adapter/adapter/luxon-date-adapter.ts
  src/material-moment-adapter/adapter/moment-date-adapter.ts
  src/material/autocomplete/autocomplete-trigger.ts
  src/material/autocomplete/autocomplete.ts
  src/material/button-toggle/button-toggle.ts
  src/material/button/fab.ts
  src/material/checkbox/checkbox-config.ts
  src/material/core/datetime/date-adapter.ts
  src/material/datepicker/date-range-selection-strategy.ts
  src/material/datepicker/date-selection-model.ts
  src/material/datepicker/datepicker-base.ts
  src/material/icon/icon-registry.ts
  src/material/icon/icon.ts
  src/material/menu/menu-trigger.ts
  src/material/menu/menu.ts
  src/material/paginator/paginator-intl.ts
  src/material/progress-bar/progress-bar.ts
  src/material/progress-spinner/progress-spinner.ts
  src/material/radio/radio.ts
  src/material/select/select.ts
  src/material/sidenav/drawer.ts
  src/material/snack-bar/snack-bar.ts
  src/material/sort/sort-header-intl.ts
  src/material/stepper/stepper-intl.ts
  src/material/tabs/ink-bar.ts
  src/material/tooltip/tooltip.ts
  tools/public_api_guard/cdk/a11y.md
  tools/public_api_guard/material/autocomplete.md
  tools/public_api_guard/material/button-toggle.md
  tools/public_api_guard/material/button.md
  tools/public_api_guard/material/checkbox.md
  tools/public_api_guard/material/core.md
  tools/public_api_guard/material/datepicker.md
  tools/public_api_guard/material/icon.md
  tools/public_api_guard/material/menu.md
  tools/public_api_guard/material/paginator.md
  tools/public_api_guard/material/progress-bar.md
  tools/public_api_guard/material/progress-spinner.md
  tools/public_api_guard/material/radio.md
  tools/public_api_guard/material/select.md
  tools/public_api_guard/material/sidenav.md
  tools/public_api_guard/material/snack-bar.md
  tools/public_api_guard/material/sort.md
  tools/public_api_guard/material/stepper.md
  tools/public_api_guard/material/tabs.md
  tools/public_api_guard/material/tooltip.md
Labels: action: merge, target: patch

#30618 [19.2.x] build: update `@angular/bazel` to support `.d.ts` code splitting
  WORKSPACE
  package.json
  tools/postinstall/patches/@angular+bazel+20.0.0-next.1.patch
  yarn.lock
Labels: action: merge, target: patch, area: build & ci

#30619 fix(material/autocomplete): incorrectly resolving focused element in shadow DOM
  src/material/autocomplete/autocomplete-trigger.ts
Labels: action: merge, target: patch, area: material/autocomplete

#30625 fix(cdk-experimental/ui-patterns): small fixes for internal compatibi…
  src/cdk-experimental/ui-patterns/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-focus/list-focus.ts
  src/cdk-experimental/ui-patterns/behaviors/list-navigation/list-navigation.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/listbox/option.ts
  src/cdk-experimental/ui-patterns/public-api.ts
Labels: action: merge, target: minor

#30627 fix(material/paginator): prevent keyboard nav to disabled buttons
  src/material/button/button-base.ts
  src/material/paginator/paginator.html
  src/material/paginator/paginator.spec.ts
Labels: action: merge, target: patch, area: material/paginator, dev-app preview

#30633 fix(material/core): include alternative tokens
  src/material/core/tokens/m3/definitions/_md-comp-elevated-card.scss
  src/material/core/tokens/m3/definitions/_md-sys-color.scss
  src/material/core/tokens/m3/definitions/_md-sys-typescale.scss
Labels: action: merge, target: patch, area: material/core

#30630 refactor(material/button): simplify host bindings
  src/material/button/button-base.ts
  src/material/button/button.ts
  src/material/button/fab.ts
  src/material/button/icon-button.ts
  tslint.json
Labels: action: merge, target: major, area: material/button

#30628 fix(material/select): use flexible overlay dimensions
  src/material/select/select.html
Labels: action: merge, target: patch, area: material/select, dev-app preview

#30452 fix(material/chips): adds default placeholder for chips input
  src/dev-app/chips/chips-demo.html
  src/material/chips/chips.md
Labels: action: merge, target: patch, area: material/chips, area: build & ci, dev-app preview, area: docs

#30640 fix(material/card): remove alternate token for container-color
  src/material/core/tokens/m3/definitions/_md-comp-elevated-card.scss
Labels: action: merge, target: patch, area: material/card

#30638 feat(material/button): add support for tonal button
  src/components-examples/material/button/button-overview/button-overview-example.css
  src/components-examples/material/button/button-overview/button-overview-example.html
  src/dev-app/button/button-demo.ts
  src/material/button/_button-theme.scss
  src/material/button/button-base.ts
  src/material/button/button-high-contrast.scss
  src/material/button/button.md
  src/material/button/button.scss
  src/material/button/button.ts
  src/material/button/testing/button-harness-filters.ts
  src/material/button/testing/button-harness.spec.ts
  src/material/button/testing/button-harness.ts
  src/material/core/tokens/_density.scss
  src/material/core/tokens/_token-definition.scss
  src/material/core/tokens/m2/_index.scss
  src/material/core/tokens/m2/mat/_tonal-button.scss
  src/material/core/tokens/m3/_index.scss
  src/material/core/tokens/m3/definitions/_index.scss
  src/material/core/tokens/m3/definitions/_md-comp-filled-tonal-button.scss
  src/material/core/tokens/m3/mat/_tonal-button.scss
  tools/public_api_guard/material/button-testing.md
  tools/public_api_guard/material/button.md
Labels: action: merge, target: major, area: material/button, dev-app preview, detected: feature

#30634 fix(material/select): close panel on detach output event
  src/material/select/select.html
  src/material/select/select.spec.ts
Labels: action: merge, target: major, area: material/select

#30644 docs: fix typo in autocomplete by removing redundant word
  src/material/autocomplete/autocomplete.md
Labels: action: merge, target: patch, area: docs

#30649 fix(material/paginator): change tabindex expect in test
  src/material/paginator/paginator.spec.ts
Labels: area: material/paginator

#30312 fix(cdk/text-field): Long multiline textfield focus issue
  src/cdk/text-field/autosize.ts
Labels: action: merge, target: patch, area: cdk/text-field

#30657 docs: release notes for the v19.2.4 release
  CHANGELOG.md
Labels: area: docs

#30645 fix(multiple): avoid repeating selectors in m3 themes
  src/dev-app/theme-m3.scss
  src/material/autocomplete/_autocomplete-theme.scss
  src/material/badge/_badge-theme.scss
  src/material/bottom-sheet/_bottom-sheet-theme.scss
  src/material/button-toggle/_button-toggle-theme.scss
  src/material/button/_button-theme.scss
  src/material/button/_fab-theme.scss
  src/material/button/_icon-button-theme.scss
  src/material/card/_card-theme.scss
  src/material/checkbox/_checkbox-theme.scss
  src/material/chips/_chips-theme.scss
  src/material/core/_core-theme.scss
  src/material/core/option/_optgroup-theme.scss
  src/material/core/option/_option-theme.scss
  src/material/core/ripple/_ripple-theme.scss
  src/material/core/selection/pseudo-checkbox/_pseudo-checkbox-theme.scss
  src/material/core/theming/_color-api-backwards-compatibility.scss
  src/material/core/tokens/_token-utils.scss
  src/material/datepicker/_datepicker-theme.scss
  src/material/dialog/_dialog-theme.scss
  src/material/divider/_divider-theme.scss
  src/material/expansion/_expansion-theme.scss
  src/material/form-field/_form-field-theme.scss
  src/material/grid-list/_grid-list-theme.scss
  src/material/icon/_icon-theme.scss
  src/material/list/_list-theme.scss
  src/material/menu/_menu-theme.scss
  src/material/paginator/_paginator-theme.scss
  src/material/progress-bar/_progress-bar-theme.scss
  src/material/progress-spinner/_progress-spinner-theme.scss
  src/material/radio/_radio-theme.scss
  src/material/select/_select-theme.scss
  src/material/sidenav/_sidenav-theme.scss
  src/material/slide-toggle/_slide-toggle-theme.scss
  src/material/slider/_slider-theme.scss
  src/material/snack-bar/_snack-bar-theme.scss
  src/material/snack-bar/snack-bar-container.scss
  src/material/sort/_sort-theme.scss
  src/material/stepper/_stepper-theme.scss
  src/material/table/_table-theme.scss
  src/material/tabs/_tabs-theme.scss
  src/material/timepicker/_timepicker-theme.scss
  src/material/toolbar/_toolbar-theme.scss
  src/material/tooltip/_tooltip-theme.scss
  src/material/tree/_tree-theme.scss
Labels: action: merge, target: major

#30642 fix(material/timepicker): TimepickerInput component in shadow DOM
  src/material/timepicker/timepicker-input.ts
  src/material/timepicker/timepicker.spec.ts
Labels: action: merge, target: patch, area: material/timepicker

#30431 fix(cdk/tree): retainining previous objects
  src/cdk/tree/tree.ts
Labels: action: merge, target: patch, area: cdk/tree

#30664 fix(material/chips): chip input not showing placeholder
  src/material/chips/chip-set.scss
Labels: action: merge, target: patch, area: material/chips

#30665 fix(material/chips): implement disabledInteractive in chip input
  goldens/material/chips/index.api.md
  src/dev-app/chips/BUILD.bazel
  src/dev-app/chips/chips-demo.html
  src/dev-app/chips/chips-demo.ts
  src/material/chips/chip-input.spec.ts
  src/material/chips/chip-input.ts
  src/material/chips/testing/BUILD.bazel
  src/material/chips/testing/chip-input-harness.spec.ts
  src/material/chips/testing/chip-input-harness.ts
  src/material/chips/tokens.ts
Labels: action: merge, G, target: major, area: material/chips

#30667 fix(multiple): ensure re-exported module symbols can be imported
  integration/module-tests/BUILD.bazel
  integration/module-tests/find-all-modules.mts
  integration/module-tests/index.bzl
  integration/module-tests/index.mts
  integration/module-tests/tsconfig.json
  src/cdk/dialog/dialog-module.ts
  src/cdk/drag-drop/drag-drop-module.ts
  src/cdk/overlay/overlay-module.ts
  src/cdk/scrolling/scrolling-module.ts
Labels: action: merge, target: patch

#30679 fix(cdk/overlay): ensure re-exported transitive `Dir` directive can be imported
  integration/module-tests/BUILD.bazel
  integration/module-tests/index.bzl
  integration/module-tests/index.mts
  src/cdk/overlay/overlay-module.ts
Labels: action: merge, target: patch, area: cdk/overlay

#30684 docs: release notes for the v19.2.6 release
  CHANGELOG.md
Labels: area: docs

#30675 [Patch Version] build: remove unused madge and material.angular.io image optimization
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  material.angular.io/package.json
  material.angular.io/tools/optimize-scene-screenshots.js
  material.angular.io/yarn.lock
  package.json
  pnpm-lock.yaml
  yarn.lock
Labels: action: merge, target: patch, area: build & ci

#30671 docs(material/theming): fix incorrect type annotation
  src/material/core/m2/_theming.scss
Labels: action: merge, target: patch, area: docs

#30688 fix(material/button): tonal touch target token transgression
  src/material/core/tokens/_density.scss
Labels: action: merge, target: major, area: material/button

#30693 docs: remove checkbox override in devapp
  src/dev-app/theme-m3.scss
Labels: action: merge, target: major, area: docs

#30691 build: enable type checking of host bindings
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  goldens/material/checkbox/index.api.md
  package.json
  pnpm-lock.yaml
  src/bazel-tsconfig-build.json
  src/cdk/drag-drop/directives/drop-list-shared.spec.ts
  src/material/checkbox/checkbox.ts
  src/tsconfig-legacy.json
  tsconfig.json
  yarn.lock
Labels: action: merge, target: major, area: build & ci

#30698 build: update `angular-linking` to attempt fix postinstall flakiness
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  pnpm-lock.yaml
Labels: action: merge, target: minor, area: build & ci

#30696 fix(material/sort): set cursor on entire clickable area
  src/material/sort/sort-header.scss
Labels: action: merge, target: patch, area: material/sort

#30707 build: update sync config to reflect internal update
  .ng-dev/google-sync-config.json
Labels: action: merge, target: patch, area: build & ci

#30718 docs: release notes for the v19.2.7 release
  CHANGELOG.md
Labels: area: docs

#30726 build: fix husky warnings
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Labels: action: merge, target: patch, area: build & ci

#30702 fix(material/form-field): use ResizeObserver for label offset calculation
  goldens/cdk/bidi/index.api.md
  src/cdk/bidi/dir.ts
  src/cdk/bidi/directionality.ts
  src/dev-app/dev-app/dev-app-directionality.ts
  src/material/datepicker/date-range-input.spec.ts
  src/material/form-field/form-field.ts
Labels: action: merge, target: major, area: cdk/bidi, area: material/form-field, detected: feature

#30732 ci: update bazel RBE setup on CI and use trusted build configuration for upstream CI runs
  .bazelrc
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
Labels: action: merge, target: patch, area: build & ci

#30723 build: disable remote upload of local action results to RBE cache
  .bazelrc
Labels: action: merge, target: patch, area: build & ci

#30712 test(cdk/overlay): change how renders are counted in test
  src/cdk/overlay/dispatchers/overlay-outside-click-dispatcher.spec.ts
Labels: action: merge, target: patch, area: cdk/overlay

#30703 fix(cdk/overlay): use MutationObserver to detach overlay
  src/cdk/overlay/overlay-ref.ts
  src/cdk/overlay/overlay.spec.ts
Labels: action: merge, target: major, area: cdk/overlay

#30711 refactor(material/snack-bar): switch from afterRender to afterNextRender
  src/material/snack-bar/snack-bar-container.ts
Labels: action: merge, target: major, area: material/snack-bar

#30736 refactor: remove internal mdc- vars
  src/material/core/tokens/_mdc-tokens.scss
  src/material/core/tokens/_token-utils.scss
Labels: action: merge, target: major

#30713 fix(cdk-experimental/popover-edit): use MutationObserver to detect table rows
  src/cdk-experimental/popover-edit/table-directives.ts
Labels: action: merge, target: major

#30678 fix(material/form-field): move error aria-live to parent container
  goldens/material/form-field/index.api.md
  goldens/material/input/index.api.md
  goldens/material/select/index.api.md
  src/material/chips/chip-grid.spec.ts
  src/material/form-field/directives/error.ts
  src/material/form-field/form-field.html
  src/material/form-field/form-field.ts
  src/material/input/input.spec.ts
Labels: action: merge, merge: caretaker note, target: patch, area: material/form-field, dev-app preview

#30745 docs: fix incorrect guide links after recent collision change
  material.angular.io/src/app/shared/documentation-items/documentation-items.ts
  material.angular.io/src/app/shared/guide-items/guide-items.ts
Labels: action: merge, target: patch, dev-app preview, area: docs

#30749 feat(material/core): introduce custom token for controlling animations
  goldens/material/core/index.api.md
  src/dev-app/main.ts
  src/material/core/animation/animation.ts
Labels: action: merge, target: major, area: material/core, detected: feature

#30747 fix(multiple): remove backwards-compatibility code
  goldens/cdk/platform/index.api.md
  src/cdk-experimental/popover-edit/table-directives.ts
  src/cdk/a11y/input-modality/input-modality-detector.ts
  src/cdk/drag-drop/drag-drop-registry.ts
  src/cdk/drag-drop/drag-ref.ts
  src/cdk/overlay/dispatchers/overlay-outside-click-dispatcher.ts
  src/cdk/platform/features/backwards-compatibility.ts
  src/cdk/platform/public-api.ts
  src/cdk/text-field/autofill.ts
  src/material/core/private/ripple-loader.ts
  src/material/datepicker/calendar-body.ts
  src/material/menu/menu-trigger.ts
  src/material/tabs/paginated-tab-header.ts
Labels: action: merge, target: major

#30750 fix(material/snack-bar): rename snackbar token prefix
  material.angular.io/scenes/src/app/scenes/snack-bar/snack-bar-scene.scss
  src/material/core/tokens/_density.scss
  src/material/core/tokens/m2/mdc/_snack-bar.scss
  src/material/core/tokens/m3/mdc/_snack-bar.scss
Labels: action: merge, target: major, area: material/snack-bar

#30751 perf(cdk/drag-drop): fix performance regression when destroying items
  src/cdk/drag-drop/directives/drop-list.ts
Labels: action: merge, target: patch, area: cdk/drag-drop, area: performance

#30738 fix(cdk-experimental/ui-patterns): add modifier checks for regexps
  src/cdk-experimental/ui-patterns/behaviors/event-manager/keyboard-event-manager.ts
Labels: action: merge, target: minor

#30733 refactor(cdk-experimental/ui-patterns): track list selection by value
  src/cdk-experimental/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/behaviors/list-focus/list-focus.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/listbox/option.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.html
Labels: action: merge, target: major

#30754 fix(material/slider): fix clobbered token for hover/focus/pressed
  src/material/core/tokens/m3/mdc/_slider.scss
Labels: action: merge, target: major, area: material/slider
