Repository angular/components, pull requests merged in 2025-07, with the labels that each got.

#31462 fix(cdk/a11y): allow mixed types to be passed into setActiveItem
  goldens/cdk/a11y/index.api.md
  src/cdk/a11y/key-manager/activedescendant-key-manager.ts
  src/cdk/a11y/key-manager/focus-key-manager.ts
  src/cdk/a11y/key-manager/list-key-manager.ts
  src/cdk/menu/menu-base.ts
Labels: action: merge, target: minor, area: cdk/a11y

#31457 fix(cdk/tree): remove leaking subscription
  src/cdk/tree/tree.ts
Labels: action: merge, target: patch, area: cdk/tree

#31482 docs: release notes for the v20.0.5 release
  CHANGELOG.md
Labels: area: docs

#31487 refactor(cdk-experimental/listbox): create reusable example classes
  src/components-examples/cdk-experimental/listbox/cdk-listbox-active-descendant/cdk-listbox-active-descendant-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-configurable/cdk-listbox-configurable-example.css
  src/components-examples/cdk-experimental/listbox/cdk-listbox-configurable/cdk-listbox-configurable-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-disabled-focusable/cdk-listbox-disabled-focusable-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-disabled-skipped/cdk-listbox-disabled-skipped-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-disabled/cdk-listbox-disabled-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-horizontal/cdk-listbox-horizontal-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-multi-select-follow-focus/cdk-listbox-multi-select-follow-focus-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-multi-select/cdk-listbox-multi-select-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-readonly/cdk-listbox-readonly-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-rtl-horizontal/cdk-listbox-rtl-horizontal-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-single-select-follow-focus/cdk-listbox-single-select-follow-focus-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-single-select/cdk-listbox-single-select-example.html
  src/dev-app/BUILD.bazel
  src/dev-app/common-classes.css
  src/dev-app/index.html
Labels: action: merge, target: minor

#31247 test(cdk/scrolling): Change test spying on tick
  src/cdk/scrolling/virtual-scroll-viewport.spec.ts
Labels: action: merge, target: patch, area: cdk/scrolling

#31498 build: clean up animations references in build files
  src/cdk/dialog/BUILD.bazel
  src/e2e-app/BUILD.bazel
  src/material/badge/BUILD.bazel
  src/material/checkbox/BUILD.bazel
  src/material/chips/BUILD.bazel
  src/material/slide-toggle/BUILD.bazel
Labels: action: merge, target: patch, area: build & ci

#31496 refactor(cdk-experimental/radio-group): use shared example classes
  src/components-examples/cdk-experimental/radio-group/cdk-radio-group-active-descendant/cdk-radio-group-active-descendant-example.html
  src/components-examples/cdk-experimental/radio-group/cdk-radio-group-configurable/cdk-radio-group-configurable-example.html
  src/components-examples/cdk-experimental/radio-group/cdk-radio-group-disabled-focusable/cdk-radio-group-disabled-focusable-example.html
  src/components-examples/cdk-experimental/radio-group/cdk-radio-group-disabled-skipped/cdk-radio-group-disabled-skipped-example.html
  src/components-examples/cdk-experimental/radio-group/cdk-radio-group-disabled/cdk-radio-group-disabled-example.html
  src/components-examples/cdk-experimental/radio-group/cdk-radio-group-horizontal/cdk-radio-group-horizontal-example.html
  src/components-examples/cdk-experimental/radio-group/cdk-radio-group-readonly/cdk-radio-group-readonly-example.html
  src/components-examples/cdk-experimental/radio-group/cdk-radio-group-standard/cdk-radio-group-standard-example.html
  src/components-examples/cdk-experimental/radio-group/radio-common.css
Labels: action: merge, target: minor, dev-app preview

#31501 refactor(multiple): update headings for examples
  src/dev-app/cdk-experimental-accordion/cdk-accordion-demo.html
  src/dev-app/cdk-experimental-listbox/cdk-listbox-demo.html
  src/dev-app/cdk-experimental-radio-group/cdk-radio-group-demo.html
  src/dev-app/cdk-experimental-tabs/cdk-tabs-demo.html
Labels: action: merge, target: minor

#31510 docs: release notes for the v20.1.0 release
  CHANGELOG.md
Labels: area: docs

#31512 ci: add gemini code assist config
  .gemini/config.yaml
Labels: action: merge, target: patch, area: build & ci

#31511 docs: update CHANGELOG for v20.1
  CHANGELOG.md
Labels: action: merge, target: minor, area: docs

#31491 docs: remove formatting from theming guide headers
  guides/theming.md
Labels: action: merge, target: patch, area: docs

#31486 fix(material/slide-toggle): add larger touch target
  src/material/slide-toggle/_m2-slide-toggle.scss
  src/material/slide-toggle/_m3-slide-toggle.scss
  src/material/slide-toggle/slide-toggle.html
  src/material/slide-toggle/slide-toggle.scss
Labels: Accessibility, action: merge, target: minor, area: material/slide-toggle, dev-app preview, requires: TGP

#31518 fix(cdk/drag-drop): ensure container is registered in addItem
  src/cdk/drag-drop/directives/drag.ts
  src/cdk/drag-drop/directives/drop-list.ts
Labels: action: merge, target: patch, area: cdk/drag-drop

#31542 build: lock file maintenance
  pnpm-lock.yaml
  src/youtube-player/fake-youtube-player.ts
Labels: action: merge, target: minor, area: build & ci

#31553 docs: release notes for the v20.1.1 release
  CHANGELOG.md
Labels: area: docs

#31546 fix(youtube-player): update to latest types and fix error
  package.json
  pnpm-lock.yaml
  src/youtube-player/fake-youtube-player.ts
  src/youtube-player/package.json
Labels: action: merge, target: patch, area: youtube-player

#31555 fix(material/schematics): access custom as a theme palette
  src/material/schematics/ng-add/theming/theming.ts
Labels: action: merge, target: patch

#31557 docs: release notes for the v20.1.2 release
  CHANGELOG.md
Labels: area: docs

#31269 feat(material/table): accept undefined sort and paginator
  goldens/material/table/index.api.md
  src/material/table/table-data-source.ts
Labels: action: merge, target: minor, area: material/table, detected: feature

#31506 docs(cdk-experimental/ui-patterns): create rules for ui patterns
  src/cdk-experimental/ui-patterns/ui-pattern-rules.md
Labels: action: merge, target: minor, area: docs

#31565 fix(material/datepicker): toggle button active color not showing up in M3
  src/material/datepicker/_m3-datepicker.scss
  src/material/datepicker/datepicker-toggle.scss
Labels: action: merge, target: patch, area: material/datepicker

#31572 fix(material/datepicker): focus lost when hitting the end of calendar
  src/material/datepicker/calendar-header.html
  src/material/datepicker/calendar-header.spec.ts
  src/material/datepicker/calendar.spec.ts
  src/material/datepicker/calendar.ts
Labels: action: merge, target: patch, area: material/datepicker

#31568 fix(material/form-field): ensure that focused classes are in sync
  src/material/form-field/form-field.ts
Labels: action: merge, target: patch, area: material/form-field

#30876 fix(material/table): add missing sort tests
  src/material/table/table-data-source.spec.ts
Labels: action: merge, target: patch, area: material/table

#31582 build: broken lock file in patch branch
  pnpm-lock.yaml
Labels: action: merge, target: patch, area: build & ci

#31592 fix(cdk/drag-drop): incorrect index when returning item in mixed list
  src/cdk/drag-drop/sorting/mixed-sort-strategy.ts
Labels: action: merge, target: patch, area: cdk/drag-drop

#31588 fix(cdk-experimental/listbox): make CdkOption public
  src/cdk-experimental/listbox/listbox.ts
Labels: action: merge, target: minor

#31596 fix(material/testing): Fix minor issue preventing the `label` filter from working for some implementations
  src/material/datepicker/testing/date-range-input-harness.ts
  src/material/form-field/testing/control/form-field-control-harness.ts
  src/material/input/testing/input-harness.spec.ts
Labels: action: merge, target: patch, area: material/testing

#31485 fix(material/core): align gm3 colors
  src/material/core/tokens/m3/_md-sys-color.scss
Labels: action: merge, target: patch, area: material/core

#31597 fix(cdk/listbox): coerce tabindex value
  goldens/cdk/listbox/index.api.md
  src/cdk/listbox/listbox.ts
Labels: action: merge, target: patch, area: cdk/listbox

#31608 fix(material/slider): tick marks not showing dynamically
  goldens/material/slider/index.api.md
  src/material/slider/slider.ts
Labels: action: merge, target: patch, area: material/slider

#31612 fix(material/radio): rendering artifacts at some zoom levels
  src/material/radio/BUILD.bazel
  src/material/radio/_radio-common.scss
Labels: action: merge, target: patch, area: material/radio

#31605 test(multiple): clean up some unnecessary imports
  src/cdk-experimental/accordion/accordion.spec.ts
  src/cdk-experimental/combobox/combobox.spec.ts
  src/cdk-experimental/deferred-content/deferred-content.spec.ts
  src/cdk-experimental/listbox/listbox.spec.ts
  src/cdk-experimental/radio-group/radio-group.spec.ts
  src/cdk-experimental/scrolling/virtual-scroll-viewport.spec.ts
  src/cdk-experimental/selection/selection.spec.ts
  src/cdk-experimental/table-scroll-container/table-scroll-container.spec.ts
  src/cdk-experimental/tabs/tabs.spec.ts
  src/cdk-experimental/tree/tree.spec.ts
  src/cdk/a11y/aria-describer/aria-describer.spec.ts
  src/cdk/a11y/focus-monitor/focus-monitor.spec.ts
  src/cdk/a11y/focus-monitor/focus-monitor.zone.spec.ts
  src/cdk/a11y/focus-trap/configurable-focus-trap.spec.ts
  src/cdk/a11y/focus-trap/event-listener-inert-strategy.spec.ts
  src/cdk/a11y/focus-trap/focus-trap.spec.ts
  src/cdk/a11y/high-contrast-mode/high-contrast-mode-detector.spec.ts
  src/cdk/a11y/live-announcer/live-announcer.spec.ts
  src/cdk/accordion/accordion-item.spec.ts
  src/cdk/accordion/accordion.spec.ts
  src/cdk/bidi/directionality.spec.ts
  src/cdk/clipboard/copy-to-clipboard.spec.ts
  src/cdk/dialog/dialog.spec.ts
  src/cdk/drag-drop/directives/test-utils.spec.ts
  src/cdk/drag-drop/drag-drop-registry.spec.ts
  src/cdk/drag-drop/drag-drop.spec.ts
  src/cdk/layout/breakpoints-observer.spec.ts
  src/cdk/menu/menu-bar.spec.ts
  src/cdk/menu/menu-group.spec.ts
  src/cdk/menu/menu-item-checkbox.spec.ts
  src/cdk/menu/menu-item-radio.spec.ts
  src/cdk/menu/menu-stack.spec.ts
  src/cdk/menu/menu.spec.ts
  src/cdk/menu/pointer-focus-tracker.spec.ts
  src/cdk/observers/observe-content.spec.ts
  src/cdk/observers/private/shared-resize-observer.spec.ts
  src/cdk/overlay/overlay-directives.spec.ts
  src/cdk/overlay/overlay-directives.zone.spec.ts
  src/cdk/overlay/overlay.spec.ts
  src/cdk/overlay/position/flexible-connected-position-strategy.spec.ts
  src/cdk/overlay/position/global-position-strategy.spec.ts
  src/cdk/overlay/scroll/block-scroll-strategy.spec.ts
  src/cdk/overlay/scroll/close-scroll-strategy.spec.ts
  src/cdk/overlay/scroll/close-scroll-strategy.zone.spec.ts
  src/cdk/overlay/scroll/reposition-scroll-strategy.spec.ts
  src/cdk/portal/portal.spec.ts
Labels: action: merge, target: patch

#31615 fix(material/core): fill in m2 system token values
  src/material/core/tokens/m2/_md-sys-color.scss
  src/material/core/tokens/m2/_md-sys-elevation.scss
  src/material/core/tokens/m2/_md-sys-motion.scss
  src/material/core/tokens/m2/_md-sys-shape.scss
  src/material/core/tokens/m2/_md-sys-state.scss
Labels: action: merge, target: patch, area: material/core

#31618 fix(material/schematics): set generated font family on body
  src/material/schematics/ng-add/theming/create-custom-theme.ts
Labels: action: merge, target: patch

#31623 docs: release notes for the v20.1.4 release
  CHANGELOG.md
Labels: area: docs
