Repository angular/components, pull requests merged in 2025-08, with the labels that each got.

#31627 docs(cdk/drag-drop): scrollable example not showing
  src/components-examples/cdk/drag-drop/index.ts
Labels: action: merge, target: patch, area: cdk/drag-drop, area: docs

#31644 refactor(cdk-experimental/ui-patterns): track focus by item not index
  src/cdk-experimental/accordion/accordion.ts
  src/cdk-experimental/listbox/listbox.ts
  src/cdk-experimental/radio-group/radio-group.ts
  src/cdk-experimental/tabs/tabs.ts
  src/cdk-experimental/tree/tree.ts
  src/cdk-experimental/ui-patterns/accordion/accordion.spec.ts
  src/cdk-experimental/ui-patterns/accordion/accordion.ts
  src/cdk-experimental/ui-patterns/behaviors/list-focus/list-focus.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-focus/list-focus.ts
  src/cdk-experimental/ui-patterns/behaviors/list-navigation/list-navigation.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-navigation/list-navigation.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.ts
  src/cdk-experimental/ui-patterns/behaviors/list-typeahead/list-typeahead.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-typeahead/list-typeahead.ts
  src/cdk-experimental/ui-patterns/behaviors/list/list.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list/list.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.ts
  src/cdk-experimental/ui-patterns/listbox/option.ts
  src/cdk-experimental/ui-patterns/radio-group/radio-button.ts
  src/cdk-experimental/ui-patterns/radio-group/radio-group.ts
  src/cdk-experimental/ui-patterns/radio-group/radio.spec.ts
  src/cdk-experimental/ui-patterns/tabs/tabs.spec.ts
  src/cdk-experimental/ui-patterns/tabs/tabs.ts
  src/cdk-experimental/ui-patterns/tree/tree.spec.ts
  src/cdk-experimental/ui-patterns/tree/tree.ts
Labels: action: merge, target: minor

#31656 refactor(cdk-experimental/listbox): update visibility on value field
  src/cdk-experimental/listbox/listbox.ts
Labels: action: merge, target: patch

#31652 fix(material/chips): static chips should disable ripple
  goldens/material/chips/index.api.md
  src/material/chips/chip-row.spec.ts
  src/material/chips/chip.spec.ts
  src/material/chips/chip.ts
Labels: Accessibility, action: merge, target: minor, area: material/chips, dev-app preview, docs: preview

#31609 fix(material/chips): remove extra span for aria-description
  goldens/material/chips/index.api.md
  src/material/chips/chip-option.html
  src/material/chips/chip-option.spec.ts
  src/material/chips/chip-row.html
  src/material/chips/chip-row.spec.ts
  src/material/chips/chip.ts
Labels: Accessibility, action: merge, target: minor, area: material/chips, dev-app preview, action: review, docs: preview

#31654 refactor(cdk-experimental/tree): use explicit inputs for passing dependencies
  src/cdk-experimental/tree/tree.spec.ts
  src/cdk-experimental/tree/tree.ts
  src/components-examples/cdk-experimental/tree/cdk-tree/cdk-tree-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree/cdk-tree-example.ts
Labels: action: merge, target: minor

#31352 docs(material/cdk/observers): Documentation supplement due to extended capabilities of the directive
  src/cdk/observers/observers.md
Labels: action: merge, target: patch, area: docs

#31674 docs(material/datepicker): fix up dialog example
  src/components-examples/material/datepicker/datepicker-dialog/datepicker-dialog-example-dialog.html
  src/components-examples/material/datepicker/datepicker-dialog/datepicker-dialog-example.html
  src/components-examples/material/datepicker/datepicker-dialog/datepicker-dialog-example.ts
Labels: action: merge, target: patch, area: material/datepicker, area: docs

#31677 build: update to bazel 7.6.0
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  integration/module-tests/index.mts
  src/dev-app/BUILD.bazel
  src/e2e-app/BUILD.bazel
  src/material/schematics/ng-update/test-cases/index.spec.ts
  src/universal-app/BUILD.bazel
  tools/release-checks/npm-package-output/output-validations.mts
Labels: action: merge, target: patch, area: build & ci

#31684 fix(cdk/menu): picking up items from child menu
  goldens/cdk/menu/index.api.md
  src/cdk/menu/menu-base.ts
  src/cdk/menu/menu-item.ts
  src/cdk/menu/menu.spec.ts
Labels: action: merge, target: patch, area: cdk/menu

#31676 feat(cdk-experimental/toolbar): add toolbar directive and demo
  src/cdk-experimental/config.bzl
  src/cdk-experimental/radio-group/BUILD.bazel
  src/cdk-experimental/radio-group/radio-group.ts
  src/cdk-experimental/toolbar/BUILD.bazel
  src/cdk-experimental/toolbar/index.ts
  src/cdk-experimental/toolbar/public-api.ts
  src/cdk-experimental/toolbar/toolbar.ts
  src/components-examples/cdk-experimental/toolbar/BUILD.bazel
  src/components-examples/cdk-experimental/toolbar/cdk-toolbar-configurable/cdk-toolbar-configurable-example.html
  src/components-examples/cdk-experimental/toolbar/cdk-toolbar-configurable/cdk-toolbar-configurable-example.ts
  src/components-examples/cdk-experimental/toolbar/index.ts
  src/components-examples/cdk-experimental/toolbar/toolbar-common.css
  src/dev-app/BUILD.bazel
  src/dev-app/cdk-experimental-toolbar/BUILD.bazel
  src/dev-app/cdk-experimental-toolbar/cdk-toolbar-demo.css
  src/dev-app/cdk-experimental-toolbar/cdk-toolbar-demo.html
  src/dev-app/cdk-experimental-toolbar/cdk-toolbar-demo.ts
  src/dev-app/dev-app/dev-app-layout.ts
  src/dev-app/routes.ts
Labels: action: merge, target: minor, dev-app preview, detected: feature

#31688 feat(cdk-experimental/ui-patterns): toolbar ui pattern tests
  src/cdk-experimental/ui-patterns/toolbar/BUILD.bazel
  src/cdk-experimental/ui-patterns/toolbar/toolbar.spec.ts
Labels: action: merge, target: minor, detected: feature

#31694 docs: fix broken link in theme-color schematic documentation
  src/material/schematics/ng-generate/theme-color/README.md
Labels: action: merge, target: patch, area: docs

#31698 docs: release notes for the v20.1.6 release
  CHANGELOG.md
Labels: area: docs

#31690 fix(material/menu): incorrectly detaching lazy content when menu is transferred to a new trigger
  src/material/menu/menu-trigger-base.ts
Labels: action: merge, target: patch, area: material/menu

#31451 fix(cdk/table): ensure CdkTable updates view with OnPush and trackBy
  src/cdk/table/table.spec.ts
  src/cdk/table/table.ts
Labels: action: merge, target: minor, area: cdk/table

#31521 docs(cdk-experimental/tree): add examples to the dev-app
  src/components-examples/cdk-experimental/tree/cdk-tree-active-descendant/cdk-tree-active-descendant-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree-active-descendant/cdk-tree-active-descendant-example.ts
  src/components-examples/cdk-experimental/tree/cdk-tree-configurable/cdk-tree-configurable-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree-configurable/cdk-tree-configurable-example.ts
  src/components-examples/cdk-experimental/tree/cdk-tree-disabled-focusable/cdk-tree-disabled-focusable-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree-disabled-focusable/cdk-tree-disabled-focusable-example.ts
  src/components-examples/cdk-experimental/tree/cdk-tree-disabled-skipped/cdk-tree-disabled-skipped-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree-disabled-skipped/cdk-tree-disabled-skipped-example.ts
  src/components-examples/cdk-experimental/tree/cdk-tree-disabled/cdk-tree-disabled-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree-disabled/cdk-tree-disabled-example.ts
  src/components-examples/cdk-experimental/tree/cdk-tree-multi-select-follow-focus/cdk-tree-multi-select-follow-focus-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree-multi-select-follow-focus/cdk-tree-multi-select-follow-focus-example.ts
  src/components-examples/cdk-experimental/tree/cdk-tree-multi-select/cdk-tree-multi-select-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree-multi-select/cdk-tree-multi-select-example.ts
  src/components-examples/cdk-experimental/tree/cdk-tree-nav/cdk-tree-nav-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree-nav/cdk-tree-nav-example.ts
  src/components-examples/cdk-experimental/tree/cdk-tree-single-select-follow-focus/cdk-tree-single-select-follow-focus-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree-single-select-follow-focus/cdk-tree-single-select-follow-focus-example.ts
  src/components-examples/cdk-experimental/tree/cdk-tree-single-select/cdk-tree-single-select-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree-single-select/cdk-tree-single-select-example.ts
  src/components-examples/cdk-experimental/tree/cdk-tree/cdk-tree-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree/cdk-tree-example.ts
  src/components-examples/cdk-experimental/tree/index.ts
  src/components-examples/cdk-experimental/tree/tree-common.css
  src/components-examples/cdk-experimental/tree/tree-data.ts
  src/dev-app/cdk-experimental-tree/BUILD.bazel
  src/dev-app/cdk-experimental-tree/cdk-tree-demo.css
  src/dev-app/cdk-experimental-tree/cdk-tree-demo.html
  src/dev-app/cdk-experimental-tree/cdk-tree-demo.ts
  src/dev-app/common-classes.css
Labels: action: merge, target: minor, dev-app preview, area: docs

#31721 fix(cdk/menu): disabled behavior fixes for menu item
  goldens/cdk/menu/index.api.md
  src/cdk/menu/menu-base.ts
  src/cdk/menu/menu-item.spec.ts
  src/cdk/menu/menu-item.ts
Labels: action: merge, target: patch, area: cdk/menu

#31730 docs: release notes for the v20.2.0 release
  CHANGELOG.md
Labels: area: docs

#31732 build: set proper version on v21 migration
  src/material/schematics/migration.json
Labels: action: merge, target: major, area: build & ci

#31734 fix(cdk-experimental/ui-patterns): deselectAll unavailable items
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-selection/list-selection.ts
Labels: action: merge, target: minor

#31737 ci: enable Renovate on non-base branches
  renovate.json
Labels: action: merge, target: patch, area: build & ci

#31741 docs(multiple): fix examples on small screens
  src/components-examples/cdk-experimental/listbox/cdk-listbox-configurable/cdk-listbox-configurable-example.css
  src/components-examples/cdk-experimental/radio-group/radio-common.css
  src/components-examples/cdk-experimental/tabs/cdk-tabs-common.css
  src/components-examples/cdk-experimental/toolbar/toolbar-common.css
  src/components-examples/cdk-experimental/tree/tree-common.css
  src/dev-app/cdk-experimental-tree/cdk-tree-demo.css
Labels: action: merge, target: minor, area: docs

#31745 fix(material/core): rename utility-classes to system-classes
  src/dev-app/BUILD.bazel
  src/dev-app/dev-app/dev-app-layout.ts
  src/dev-app/routes.ts
  src/dev-app/system-classes-demo/BUILD.bazel
  src/dev-app/system-classes-demo/system-classes-demo.html
  src/dev-app/system-classes-demo/system-classes-demo.scss
  src/dev-app/system-classes-demo/system-classes-demo.ts
  src/dev-app/theme-m3.scss
  src/dev-app/theme.scss
  src/dev-app/utility-classes-demo/utility-classes-demo.ts
  src/material/_index.scss
  src/material/core/tokens/_classes.scss
Labels: action: merge, target: major, area: material/core

#31747 fix(cdk-experimental/ui-patterns): Tree expand/collapse key should work in follow focus mode
  src/cdk-experimental/ui-patterns/tree/tree.spec.ts
  src/cdk-experimental/ui-patterns/tree/tree.ts
Labels: action: merge, target: minor, dev-app preview

#31756 fix(cdk-experimental/ui-patterns): focus list when using active desce…
  src/cdk-experimental/accordion/accordion.ts
  src/cdk-experimental/listbox/listbox.ts
  src/cdk-experimental/radio-group/radio-group.ts
  src/cdk-experimental/tabs/tabs.ts
  src/cdk-experimental/toolbar/toolbar.ts
  src/cdk-experimental/tree/tree.ts
  src/cdk-experimental/ui-patterns/accordion/accordion.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-focus/list-focus.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/list-focus/list-focus.ts
  src/cdk-experimental/ui-patterns/behaviors/list/list.spec.ts
  src/cdk-experimental/ui-patterns/listbox/listbox.spec.ts
  src/cdk-experimental/ui-patterns/radio-group/radio.spec.ts
  src/cdk-experimental/ui-patterns/tabs/tabs.spec.ts
  src/cdk-experimental/ui-patterns/toolbar/toolbar.spec.ts
  src/cdk-experimental/ui-patterns/tree/tree.spec.ts
  src/dev-app/common-classes.css
Labels: action: merge, target: minor, dev-app preview

#31664 fix(material/chips): refactor non-interactive actions to prevent adding click handlers
  goldens/material/chips/index.api.md
  src/material/chips/chip-action.ts
  src/material/chips/chip-icons.ts
  src/material/chips/chip-listbox.ts
  src/material/chips/chip-row.spec.ts
  src/material/chips/chip-row.ts
  src/material/chips/chip-set.ts
  src/material/chips/chip.html
  src/material/chips/chip.spec.ts
  src/material/chips/chip.ts
Labels: Accessibility, action: merge, target: minor, area: material/chips, dev-app preview, docs: preview

#31777 fix(material/datepicker): add visible labels to calendar buttons
  src/material/datepicker/BUILD.bazel
  src/material/datepicker/calendar-header.html
  src/material/datepicker/calendar.ts
Labels: action: merge, target: patch, area: material/datepicker

#31783 build: update MODULE.bazel lockfile
  MODULE.bazel
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Labels: action: merge, target: major, area: build & ci

#31793 docs: release notes for the v20.2.1 release
  CHANGELOG.md
Labels: area: docs

#31791 test(material/chips): remove dependency on NoopAnimationsModule
  src/material/chips/chip-grid.spec.ts
Labels: action: merge, target: major, area: material/chips

#31799 build: define typescript version via string in module.bazel file
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
Labels: action: merge, target: patch, area: build & ci
