Repository angular/components, pull requests merged in 2025-06, with the labels that each got.

#31260 fix(material/core): brand family not set for plain value
  src/material/core/tokens/_m3-system.scss
Labels: action: merge, target: patch, area: material/core

#31268 refactor: converge remaining secondary text to on-surface-variant
  src/material/checkbox/_m2-checkbox.scss
  src/material/core/theming/tests/theming-mixin-api.spec.ts
  src/material/datepicker/_m2-datepicker.scss
  src/material/dialog/_m2-dialog.scss
  src/material/list/_m2-list.scss
  src/material/paginator/_m2-paginator.scss
  src/material/radio/_m2-radio.scss
  src/material/select/_m2-select.scss
Labels: action: merge, target: minor, dev-app preview

#31270 fix(material/schematics): avoid overwriting files that didn't change
  src/material/schematics/ng-update/index.ts
Labels: action: merge, target: patch

#31267 refactor: use system level shadow color for elevation
  src/material/core/_m2-app.scss
  src/material/core/m2/_theming.scss
  src/material/core/style/BUILD.bazel
  src/material/core/style/_private.scss
Labels: action: merge, target: minor

#31272 fix(material/form-field): use system for neutral colors
  src/material/core/m2/_theming.scss
  src/material/form-field/_m2-form-field.scss
Labels: action: merge, target: minor, area: material/form-field

#31277 fix(material/schematics): token migration not replacing all instances
  src/material/schematics/ng-update/index.ts
  src/material/schematics/ng-update/test-cases/rename-mdc-tokens.spec.ts
Labels: action: merge, target: patch

#31288 feat(cdk/drag-drop): add opt-in indicator of pick-up position
  goldens/cdk/drag-drop/index.api.md
  src/cdk/drag-drop/directives/drop-list-shared.spec.ts
  src/cdk/drag-drop/directives/drop-list.ts
  src/cdk/drag-drop/drag-drop.md
  src/cdk/drag-drop/drag-ref.ts
  src/cdk/drag-drop/drop-list-ref.ts
  src/cdk/drag-drop/sorting/drop-list-sort-strategy.ts
  src/cdk/drag-drop/sorting/mixed-sort-strategy.ts
  src/cdk/drag-drop/sorting/single-axis-sort-strategy.ts
  src/components-examples/cdk/drag-drop/cdk-drag-drop-copy-list/cdk-drag-drop-copy-list-example.css
  src/components-examples/cdk/drag-drop/cdk-drag-drop-copy-list/cdk-drag-drop-copy-list-example.html
  src/components-examples/cdk/drag-drop/cdk-drag-drop-copy-list/cdk-drag-drop-copy-list-example.ts
  src/components-examples/cdk/drag-drop/index.ts
Labels: action: merge, target: minor, area: cdk/drag-drop, detected: feature

#31292 docs: release notes for the v20.0.2 release
  CHANGELOG.md
Labels: area: docs

#31278 fix(material/button): use system colors for state layers and text
  src/material/button/_m2-button.scss
  src/material/button/_m2-fab.scss
  src/material/button/_m2-icon-button.scss
Labels: action: merge, target: minor, area: material/button, dev-app preview

#31283 fix(material/core): remove unused form field mixins
  src/material/core/style/BUILD.bazel
  src/material/core/style/_form-common.scss
Labels: action: merge, target: minor, area: material/core, dev-app preview

#31282 fix(material/core): update ripple tokens to system colors
  src/material/core/ripple/_m2-ripple.scss
Labels: action: merge, target: minor, area: material/core, dev-app preview

#31279 fix(material/checkbox): update tokens to system colors
  src/material/checkbox/_m2-checkbox.scss
Labels: action: merge, target: minor, area: material/checkbox, dev-app preview

#31284 fix(material/list): update tokens to system colors
  src/material/list/_m2-list.scss
Labels: action: merge, target: minor, area: material/list, dev-app preview

#30891 fix(material/button): prevents mat-icon being cut off by text-spacing
  src/material/button/button.scss
Labels: Accessibility, action: merge, target: minor, area: material/button, dev-app preview

#31286 fix(material/paginator): update tokens to system colors
  src/material/paginator/_m2-paginator.scss
Labels: action: merge, target: minor, area: material/paginator, dev-app preview

#31287 fix(material/tabs): update tokens to system colors
  src/material/tabs/_m2-tabs.scss
Labels: action: merge, target: minor, area: material/tabs, dev-app preview

#31290 feat(cdk-experimental/ui-patterns): create grid navigation behavior
  src/cdk-experimental/ui-patterns/behaviors/grid-focus/grid-focus.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/grid-focus/grid-focus.ts
  src/cdk-experimental/ui-patterns/behaviors/grid-navigation/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/grid-navigation/grid-navigation.spec.ts
  src/cdk-experimental/ui-patterns/behaviors/grid-navigation/grid-navigation.ts
Labels: action: merge, target: minor, detected: feature

#31280 fix(material/chips): update tokens to system colors
  src/material/chips/_m2-chip.scss
Labels: action: merge, target: minor, area: material/chips, dev-app preview

#31309 docs: update link to Angular security policy
  SECURITY.md
Labels: action: merge, target: patch, area: docs

#31302 fix(material/select): use system color for arrow
  src/material/select/_m2-select.scss
  src/material/select/_select-theme.scss
Labels: action: merge, target: minor, area: material/select, dev-app preview

#31300 fix(material/datepicker): use system colors
  src/material/datepicker/_datepicker-theme.scss
  src/material/datepicker/_m2-datepicker.scss
Labels: action: merge, target: minor, area: material/datepicker, dev-app preview

#31305 fix(material/slider): use system color
  src/material/slider/_m2-slider.scss
  src/material/slider/_slider-theme.scss
Labels: action: merge, target: minor, area: material/slider, dev-app preview

#31311 fix(material/slider): ensure disabled slider thumb input has 'auto' c…
  src/material/slider/slider.scss
  src/material/slider/slider.spec.ts
Labels: action: merge, target: patch, area: material/slider, dev-app preview

#31321 fix(material/radio): color tokens excluded when passing in variant
  src/material/radio/_m3-radio.scss
Labels: action: merge, target: patch, area: material/radio

#31324 [19.2.x] ci: update to latest version of dev-infra actions
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/docs-preview-build.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
Labels: action: merge, area: build & ci, target: lts

#31323 ci: update to latest version of dev-infra actions
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/docs-preview-build.yml
  .github/workflows/docs-preview-deploy.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
Labels: action: merge, target: patch, area: build & ci

#31327 fix(material/button): harness not picking up buttons with dynamic appearance
  src/material/button/testing/button-harness.spec.ts
  src/material/button/testing/button-harness.ts
Labels: action: merge, target: patch, area: material/button

#31338 refactor: remove unused m2 utils
  src/material/core/tokens/_m2-utils.scss
Labels: action: merge, target: minor

#31322 refactor: create an m2 system directory
  src/material/core/m2/BUILD.bazel
  src/material/core/m2/_theming.scss
  src/material/core/tokens/m2/BUILD.bazel
  src/material/core/tokens/m2/_index.scss
  src/material/core/tokens/m2/_md-sys-color.scss
  src/material/core/tokens/m2/_md-sys-elevation.scss
  src/material/core/tokens/m2/_md-sys-motion.scss
  src/material/core/tokens/m2/_md-sys-shape.scss
  src/material/core/tokens/m2/_md-sys-state.scss
  src/material/core/tokens/m2/_md-sys-typescale.scss
Labels: action: merge, target: minor

#31337 refactor: move m3 system values to _mat-system like m2
  src/material/core/theming/_definition.scss
  src/material/core/theming/tests/theming-definition-api.spec.ts
  src/material/core/tokens/_m3-utils.scss
  src/material/core/tokens/m3/_md-sys-color.scss
  src/material/core/tokens/m3/_md-sys-typescale.scss
  src/material/core/tokens/m3/_theme.scss
Labels: action: merge, target: minor

#31346 fix(material/button): update button golden
  goldens/material/button/testing/index.api.md
Labels: action: merge, target: patch, area: material/button

#31334 refactor: use system-level typography
  src/material/badge/_m2-badge.scss
  src/material/bottom-sheet/_m2-bottom-sheet.scss
  src/material/button-toggle/_m2-button-toggle.scss
  src/material/button/_m2-button.scss
  src/material/button/_m2-fab.scss
  src/material/card/_m2-card.scss
  src/material/checkbox/_m2-checkbox.scss
  src/material/chips/_m2-chip.scss
  src/material/core/m2/_theming.scss
  src/material/core/option/_m2-optgroup.scss
  src/material/core/option/_m2-option.scss
  src/material/core/tokens/_m2-utils.scss
  src/material/core/tokens/m2/_md-sys-typescale.scss
  src/material/datepicker/_m2-datepicker.scss
  src/material/dialog/_m2-dialog.scss
  src/material/expansion/_m2-expansion.scss
  src/material/form-field/_m2-form-field.scss
  src/material/grid-list/_m2-grid-list.scss
  src/material/list/_list-theme.scss
  src/material/list/_m2-list.scss
  src/material/menu/_m2-menu.scss
  src/material/paginator/_m2-paginator.scss
  src/material/radio/_m2-radio.scss
  src/material/select/_m2-select.scss
  src/material/slide-toggle/_m2-slide-toggle.scss
  src/material/slider/_m2-slider.scss
  src/material/snack-bar/_m2-snack-bar.scss
  src/material/stepper/_m2-stepper.scss
  src/material/table/_m2-table.scss
  src/material/tabs/_m2-tabs.scss
  src/material/toolbar/_m2-toolbar.scss
  src/material/tooltip/_m2-tooltip.scss
  src/material/tree/_m2-tree.scss
Labels: action: merge, target: minor

#31349 fix(material/tree): use correct typography
  src/material/tree/_tree-theme.scss
Labels: action: merge, target: minor, area: material/tree

#31353 refactor: realign changes with g3
  src/material/core/tokens/m2/_md-sys-typescale.scss
  src/material/slide-toggle/_slide-toggle-theme.scss
Labels: action: merge, target: minor

#31358 build: prevent markdown styling from bleeding into examples
  tools/markdown-to-html/docs-marked-renderer.ts
Labels: action: merge, target: patch, area: build & ci

#31359 fix(multiple): use inline m2 token definitions
  src/material/autocomplete/_autocomplete-theme.scss
  src/material/badge/_badge-theme.scss
  src/material/bottom-sheet/_bottom-sheet-theme.scss
  src/material/button-toggle/_button-toggle-theme.scss
  src/material/button/_button-theme.scss
  src/material/button/_fab-theme.scss
  src/material/button/_icon-button-theme.scss
  src/material/card/_card-theme.scss
  src/material/checkbox/_checkbox-theme.scss
  src/material/core/_core-theme.scss
  src/material/core/option/_optgroup-theme.scss
  src/material/core/option/_option-theme.scss
  src/material/core/ripple/_ripple-theme.scss
  src/material/core/selection/pseudo-checkbox/_pseudo-checkbox-theme.scss
  src/material/core/tokens/_token-utils.scss
  src/material/datepicker/_datepicker-theme.scss
  src/material/dialog/_dialog-theme.scss
  src/material/divider/_divider-theme.scss
  src/material/expansion/_expansion-theme.scss
  src/material/form-field/_form-field-theme.scss
  src/material/grid-list/_grid-list-theme.scss
  src/material/icon/_icon-theme.scss
  src/material/list/_list-theme.scss
  src/material/menu/_menu-theme.scss
  src/material/paginator/_paginator-theme.scss
  src/material/progress-bar/_progress-bar-theme.scss
  src/material/progress-spinner/_progress-spinner-theme.scss
  src/material/radio/_radio-theme.scss
  src/material/select/_select-theme.scss
  src/material/sidenav/_sidenav-theme.scss
  src/material/slide-toggle/_slide-toggle-theme.scss
  src/material/slider/_slider-theme.scss
  src/material/snack-bar/_snack-bar-theme.scss
  src/material/sort/_sort-theme.scss
  src/material/stepper/_stepper-theme.scss
  src/material/table/_table-theme.scss
  src/material/tabs/_tabs-theme.scss
  src/material/timepicker/_timepicker-theme.scss
  src/material/toolbar/_toolbar-theme.scss
  src/material/tooltip/_tooltip-theme.scss
  src/material/tree/_tree-theme.scss
Labels: action: merge, target: minor, area: material/autocomplete

#31344 test(cdk-experimental/listbox): add use case examples for the listbox
  src/components-examples/cdk-experimental/listbox/cdk-listbox-active-descendant/cdk-listbox-active-descendant-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-active-descendant/cdk-listbox-active-descendant-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox-configurable/cdk-listbox-configurable-example.css
  src/components-examples/cdk-experimental/listbox/cdk-listbox-configurable/cdk-listbox-configurable-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-configurable/cdk-listbox-configurable-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox-disabled-focusable/cdk-listbox-disabled-focusable-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-disabled-focusable/cdk-listbox-disabled-focusable-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox-disabled-skipped/cdk-listbox-disabled-skipped-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-disabled-skipped/cdk-listbox-disabled-skipped-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox-disabled/cdk-listbox-disabled-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-disabled/cdk-listbox-disabled-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox-horizontal/cdk-listbox-horizontal-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-horizontal/cdk-listbox-horizontal-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox-multi-select-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox-multi-select-follow-focus/cdk-listbox-multi-select-follow-focus-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-multi-select-follow-focus/cdk-listbox-multi-select-follow-focus-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox-multi-select/cdk-listbox-multi-select-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-multi-select/cdk-listbox-multi-select-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox-readonly/cdk-listbox-readonly-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-readonly/cdk-listbox-readonly-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox-rtl-horizontal/cdk-listbox-rtl-horizontal-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-rtl-horizontal/cdk-listbox-rtl-horizontal-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox-single-select-follow-focus/cdk-listbox-single-select-follow-focus-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-single-select-follow-focus/cdk-listbox-single-select-follow-focus-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox-single-select/cdk-listbox-single-select-example.html
  src/components-examples/cdk-experimental/listbox/cdk-listbox-single-select/cdk-listbox-single-select-example.ts
  src/components-examples/cdk-experimental/listbox/cdk-listbox/cdk-listbox-example.html
  src/components-examples/cdk-experimental/listbox/index.ts
  src/dev-app/cdk-experimental-listbox/BUILD.bazel
  src/dev-app/cdk-experimental-listbox/cdk-listbox-demo.css
  src/dev-app/cdk-experimental-listbox/cdk-listbox-demo.html
  src/dev-app/cdk-experimental-listbox/cdk-listbox-demo.ts
Labels: action: merge, target: minor, dev-app preview

#31355 refactor: remove unused typography function
  src/material/core/theming/_inspection.scss
  src/material/core/theming/_m2-inspection.scss
Labels: action: merge, target: minor

#31350 feat(cdk-experimental/tree): add tree directives, example, and tests
  .ng-dev/commit-message.mts
  src/cdk-experimental/config.bzl
  src/cdk-experimental/tree/BUILD.bazel
  src/cdk-experimental/tree/index.ts
  src/cdk-experimental/tree/public-api.ts
  src/cdk-experimental/tree/tree.spec.ts
  src/cdk-experimental/tree/tree.ts
  src/cdk-experimental/ui-patterns/tree/tree.spec.ts
  src/cdk-experimental/ui-patterns/tree/tree.ts
  src/components-examples/cdk-experimental/tree/BUILD.bazel
  src/components-examples/cdk-experimental/tree/cdk-tree/cdk-tree-example.css
  src/components-examples/cdk-experimental/tree/cdk-tree/cdk-tree-example.html
  src/components-examples/cdk-experimental/tree/cdk-tree/cdk-tree-example.ts
  src/components-examples/cdk-experimental/tree/index.ts
  src/dev-app/BUILD.bazel
  src/dev-app/cdk-experimental-tree/BUILD.bazel
  src/dev-app/cdk-experimental-tree/cdk-tree-demo.html
  src/dev-app/cdk-experimental-tree/cdk-tree-demo.ts
  src/dev-app/dev-app/dev-app-layout.ts
  src/dev-app/routes.ts
Labels: action: merge, target: minor, dev-app preview, detected: feature

#31380 test(cdk-experimental/radio): use case examples
  src/cdk-experimental/radio/radio.spec.ts
  src/cdk-experimental/radio/radio.ts
  src/components-examples/cdk-experimental/radio/cdk-radio-active-descendant/cdk-radio-active-descendant-example.html
  src/components-examples/cdk-experimental/radio/cdk-radio-active-descendant/cdk-radio-active-descendant-example.ts
  src/components-examples/cdk-experimental/radio/cdk-radio-configurable/cdk-radio-configurable-example.html
  src/components-examples/cdk-experimental/radio/cdk-radio-configurable/cdk-radio-configurable-example.ts
  src/components-examples/cdk-experimental/radio/cdk-radio-disabled-focusable/cdk-radio-disabled-focusable-example.html
  src/components-examples/cdk-experimental/radio/cdk-radio-disabled-focusable/cdk-radio-disabled-focusable-example.ts
  src/components-examples/cdk-experimental/radio/cdk-radio-disabled-skipped/cdk-radio-disabled-skipped-example.html
  src/components-examples/cdk-experimental/radio/cdk-radio-disabled-skipped/cdk-radio-disabled-skipped-example.ts
  src/components-examples/cdk-experimental/radio/cdk-radio-disabled/cdk-radio-disabled-example.html
  src/components-examples/cdk-experimental/radio/cdk-radio-disabled/cdk-radio-disabled-example.ts
  src/components-examples/cdk-experimental/radio/cdk-radio-horizontal/cdk-radio-horizontal-example.html
  src/components-examples/cdk-experimental/radio/cdk-radio-horizontal/cdk-radio-horizontal-example.ts
  src/components-examples/cdk-experimental/radio/cdk-radio-readonly/cdk-radio-readonly-example.html
  src/components-examples/cdk-experimental/radio/cdk-radio-readonly/cdk-radio-readonly-example.ts
  src/components-examples/cdk-experimental/radio/cdk-radio-rtl-horizontal/cdk-radio-rtl-horizontal-example.html
  src/components-examples/cdk-experimental/radio/cdk-radio-rtl-horizontal/cdk-radio-rtl-horizontal-example.ts
  src/components-examples/cdk-experimental/radio/cdk-radio-standard/cdk-radio-standard-example.html
  src/components-examples/cdk-experimental/radio/cdk-radio-standard/cdk-radio-standard-example.ts
  src/components-examples/cdk-experimental/radio/index.ts
  src/components-examples/cdk-experimental/radio/radio-common.css
  src/dev-app/cdk-experimental-radio/BUILD.bazel
  src/dev-app/cdk-experimental-radio/cdk-radio-demo.css
  src/dev-app/cdk-experimental-radio/cdk-radio-demo.html
  src/dev-app/cdk-experimental-radio/cdk-radio-demo.ts
Labels: action: merge, target: minor, dev-app preview

#31393 fix(material/chips): sync with g3
  src/material/chips/_chips-theme.scss
Labels: action: merge, target: minor, area: material/chips

#31391 fix(material/input): revert wheel workaround
  src/material/input/input.ts
Labels: action: merge, target: patch, area: material/input

#31371 feat(cdk/menu): add setActiveMenuItem to cdkMenu
  goldens/cdk/menu/index.api.md
  src/cdk/menu/menu-base.ts
  src/cdk/menu/menu.spec.ts
Labels: action: merge, target: minor, area: cdk/menu, detected: feature

#31423 refactor(cdk-experimental/tabs): add use case examples
  src/components-examples/cdk-experimental/tabs/cdk-active-descendant/cdk-tabs-active-descendant-example.html
  src/components-examples/cdk-experimental/tabs/cdk-active-descendant/cdk-tabs-active-descendant-example.ts
  src/components-examples/cdk-experimental/tabs/cdk-disabled-focusable/cdk-tabs-disabled-focusable-example.html
  src/components-examples/cdk-experimental/tabs/cdk-disabled-focusable/cdk-tabs-disabled-focusable-example.ts
  src/components-examples/cdk-experimental/tabs/cdk-disabled-skipped/cdk-tabs-disabled-skipped-example.html
  src/components-examples/cdk-experimental/tabs/cdk-disabled-skipped/cdk-tabs-disabled-skipped-example.ts
  src/components-examples/cdk-experimental/tabs/cdk-disabled/cdk-tabs-disabled-example.html
  src/components-examples/cdk-experimental/tabs/cdk-disabled/cdk-tabs-disabled-example.ts
  src/components-examples/cdk-experimental/tabs/cdk-explicit-selection/cdk-tabs-explicit-selection-example.html
  src/components-examples/cdk-experimental/tabs/cdk-explicit-selection/cdk-tabs-explicit-selection-example.ts
  src/components-examples/cdk-experimental/tabs/cdk-rtl-vertical/cdk-tabs-rtl-vertical-example.html
  src/components-examples/cdk-experimental/tabs/cdk-rtl-vertical/cdk-tabs-rtl-vertical-example.ts
  src/components-examples/cdk-experimental/tabs/cdk-selection-follows-focus/cdk-tabs-selection-follows-focus-example.html
  src/components-examples/cdk-experimental/tabs/cdk-selection-follows-focus/cdk-tabs-selection-follows-focus-example.ts
  src/components-examples/cdk-experimental/tabs/cdk-tabs-common.css
  src/components-examples/cdk-experimental/tabs/cdk-tabs-configurable/cdk-tabs-configurable-example.html
  src/components-examples/cdk-experimental/tabs/cdk-tabs-configurable/cdk-tabs-configurable-example.ts
  src/components-examples/cdk-experimental/tabs/cdk-vertical-orientation/cdk-tabs-vertical-example.html
  src/components-examples/cdk-experimental/tabs/cdk-vertical-orientation/cdk-tabs-vertical-example.ts
  src/components-examples/cdk-experimental/tabs/index.ts
  src/dev-app/cdk-experimental-tabs/BUILD.bazel
  src/dev-app/cdk-experimental-tabs/cdk-tabs-demo.css
  src/dev-app/cdk-experimental-tabs/cdk-tabs-demo.html
  src/dev-app/cdk-experimental-tabs/cdk-tabs-demo.ts
Labels: action: merge, target: minor, dev-app preview

#31433 build: dependency management updates
  package.json
  pnpm-lock.yaml
  renovate.json
Labels: action: merge, target: minor, area: build & ci

#31441 build: fix failing firefox tests on main
  WORKSPACE
Labels: action: merge, target: patch, area: build & ci

#31443 docs: release notes for the v19.2.19 release
  CHANGELOG.md
Labels: area: docs

#31436 build: links to headers not working
  docs/src/app/shared/doc-viewer/doc-viewer.ts
  docs/src/app/shared/doc-viewer/header-link.ts
Labels: action: merge, target: patch, area: build & ci

#31401 fix(cdk-experimental/tabs): set tabpanel tabindex to -1 if hidden
  src/cdk-experimental/tabs/tabs.spec.ts
  src/cdk-experimental/tabs/tabs.ts
  src/cdk-experimental/ui-patterns/tabs/tabs.spec.ts
  src/cdk-experimental/ui-patterns/tabs/tabs.ts
Labels: action: merge, target: minor

#31379 fix(cdk-experimental/accordion): fix disabled trigger button can't be focused when skipDisabled=false
  src/cdk-experimental/accordion/accordion.ts
Labels: action: merge, target: minor, dev-app preview

#31447 build: update renovate config
  renovate.json
Labels: action: merge, target: minor, area: build & ci
