Repository angular/components, pull requests merged in 2025-10, with the labels that each got.

#31958 fix(material/menu): prevent child menu reopening while parent is animating away
  src/material/menu/menu-trigger.ts
Labels: action: merge, target: patch, area: material/menu

#31815 fix(material/menu): fix divider color property
  src/material/menu/menu.scss
Labels: action: merge, presubmit failures, target: minor, area: material/menu, action: global presubmit, requires: TGP

#31977 build: fix snapshots job
  goldens/cdk/overlay/index.api.md
  scripts/deploy/publish-build-artifacts.sh
Labels: action: merge, target: minor, area: build & ci

#31981 fix(material/timepicker): assign form control value before emitting events
  goldens/material/timepicker/index.api.md
  src/material/timepicker/timepicker-input.ts
  src/material/timepicker/timepicker.spec.ts
  src/material/timepicker/timepicker.ts
Labels: action: merge, target: patch, area: material/timepicker

#31980 fix(material/datepicker): make date filter nullable
  goldens/material/datepicker/index.api.md
  src/material/datepicker/calendar.ts
  src/material/datepicker/date-range-input.ts
  src/material/datepicker/datepicker-base.ts
  src/material/datepicker/datepicker-input-base.ts
  src/material/datepicker/datepicker-input.ts
  src/material/datepicker/month-view.ts
  src/material/datepicker/multi-year-view.ts
  src/material/datepicker/year-view.ts
Labels: action: merge, target: patch, area: material/datepicker

#31965 feat(material/bottom-sheet): add injector to MatBottomSheetConfig
  goldens/material/bottom-sheet/index.api.md
  src/material/bottom-sheet/bottom-sheet-config.ts
  src/material/bottom-sheet/bottom-sheet.spec.ts
Labels: action: merge, target: minor, area: material/bottom-sheet, detected: feature

#31990 docs(material/list): single selection example
  src/components-examples/material/list/list-single-selection-reactive-form/list-single-selection-reactive-form-example.html
  src/components-examples/material/list/list-single-selection-reactive-form/list-single-selection-reactive-form-example.ts
  src/components-examples/material/list/list-single-selection/list-single-selection-example.html
  src/components-examples/material/list/list-single-selection/list-single-selection-example.ts
Labels: action: merge, target: patch, area: material/list, area: docs

#32015 feat(material/radio): Hovering over label of a radio will show the pointer cursor
  src/material/radio/radio.scss
Labels: action: merge, target: patch, merge: fix commit message, area: material/radio, detected: feature

#31991 docs: remove inaccurate note from focus monitor docs
  src/cdk/a11y/a11y.md
Labels: action: merge, target: patch, area: docs

#32016 feat(material/sort): add content projection slot for custom icon
  goldens/material/sort/index.api.md
  src/components-examples/material/sort/BUILD.bazel
  src/components-examples/material/sort/index.ts
  src/components-examples/material/sort/sort-custom-icon/sort-custom-icon-example.html
  src/components-examples/material/sort/sort-custom-icon/sort-custom-icon-example.ts
  src/material/sort/sort-header.html
  src/material/sort/sort-header.scss
  src/material/sort/sort.md
Labels: action: merge, target: minor, area: material/sort, detected: feature, docs: preview

#32023 docs: use takeUntilDestroyed for cleanup instead of manual subscripti…
  docs/src/app/pages/component-sidenav/component-sidenav.ts
  docs/src/app/shared/navigation-focus/navigation-focus.service.ts
Labels: action: merge, target: patch, area: docs
