Repository angular/components, pull requests merged in 2025-09, with the labels that each got.

#31818 fix(material/progress-bar): avoid CSP issues due to buffer dots
  src/material/progress-bar/progress-bar.scss
Labels: action: merge, target: patch, area: material/progress-bar

#31789 fix(material/select): ensure proper highlighting on selection
  src/material/core/option/option.scss
Labels: Accessibility, action: merge, target: minor, area: material/select, dev-app preview, requires: TGP, docs: preview

#31866 fix(material/button): do not show hover state on devices that don't support hover
  src/material/button/button.scss
  src/material/button/fab.scss
Labels: action: merge, target: patch, area: material/button

#31811 docs: migrate selectors to self-closing tags to align with Angular style
  docs/scenes/src/app/app.component.ts
  docs/scenes/src/app/scene-viewer/scene-viewer.html
  docs/scenes/src/app/scenes/datepicker/datepicker-scene.html
  docs/scenes/src/app/scenes/divider/divider-scene.html
  docs/scenes/src/app/scenes/paginator/paginator-scene.html
  docs/scenes/src/app/scenes/progress-bar/progress-bar-scene.html
  docs/scenes/src/app/scenes/progress-spinner/progress-spinner-scene.html
  docs/scenes/src/app/scenes/tabs/tabs-scene.html
  docs/src/app/pages/component-sidenav/component-sidenav.html
  docs/src/app/pages/component-viewer/component-api.html
  docs/src/app/pages/component-viewer/component-overview.html
  docs/src/app/pages/component-viewer/component-viewer.html
  docs/src/app/pages/guide-list/guide-list.html
  docs/src/app/pages/guide-viewer/guide-viewer.html
  docs/src/app/pages/homepage/homepage.html
  docs/src/app/pages/not-found/not-found.html
  docs/src/app/pages/system-variables/system-variables.html
  docs/src/app/shared/carousel/carousel.html
  docs/src/app/shared/doc-viewer/doc-viewer.spec.ts
  docs/src/app/shared/doc-viewer/doc-viewer.ts
  docs/src/app/shared/example-viewer/code-snippet.html
  docs/src/app/shared/example-viewer/example-viewer.html
Labels: action: merge, target: patch, area: docs

#31868 fix(material/tabs): attach content inside the zone
  src/material/tabs/tab-body.ts
Labels: action: merge, target: patch, area: material/tabs

#31883 [20.2.x] build: update cross-repo angular dependencies
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/docs-preview-build.yml
  .github/workflows/docs-preview-deploy.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  MODULE.bazel
  package.json
  pnpm-lock.yaml
Labels: action: merge, target: patch, area: build & ci

#31884 build: update pnpm to v10.17.0
  integration/harness-e2e-cli/pnpm-workspace.yaml
  integration/ng-add-standalone/pnpm-workspace.yaml
  integration/ng-add/pnpm-workspace.yaml
  package.json
  pnpm-workspace.yaml
Labels: action: merge, target: patch, area: build & ci

#31844 fix(material/stepper): Adjust aria tab-related roles to fix violations
  src/material/stepper/step-header.ts
  src/material/stepper/stepper.html
  src/material/stepper/stepper.spec.ts
  src/material/stepper/stepper.ts
  src/material/stepper/testing/step-harness.ts
Labels: Accessibility, action: merge, target: minor, area: material/stepper, dev-app preview, requires: TGP

#31852 feat(material/testing): Add icon name filtering to MatButtonHarness
  goldens/material/button/testing/index.api.md
  src/material/button/testing/BUILD.bazel
  src/material/button/testing/button-harness-filters.ts
  src/material/button/testing/button-harness.spec.ts
  src/material/button/testing/button-harness.ts
Labels: action: merge, target: major, area: material/testing, detected: feature

#31774 fix(material/form-field): restore error message animation
  src/material/form-field/form-field.html
Labels: action: merge, target: patch, area: material/form-field

#31896 docs: correct pnpm install command
  DEV_ENVIRONMENT.md
Labels: action: merge, target: patch, area: docs, docs: preview

#31917 docs: release notes for the v20.2.5 release
  CHANGELOG.md
Labels: area: docs

#31781 [20.2.x] build: enable strict deps enforcement for ts_project
  src/cdk-experimental/accordion/BUILD.bazel
  src/cdk-experimental/accordion/accordion.ts
  src/cdk-experimental/tabs/BUILD.bazel
  src/cdk-experimental/tree/BUILD.bazel
  src/cdk-experimental/ui-patterns/accordion/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/grid-navigation/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-selection/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-typeahead/BUILD.bazel
  src/cdk-experimental/ui-patterns/tabs/BUILD.bazel
  src/cdk-experimental/ui-patterns/toolbar/BUILD.bazel
  src/cdk-experimental/ui-patterns/tree/BUILD.bazel
  src/cdk/listbox/BUILD.bazel
  src/cdk/menu/BUILD.bazel
  src/cdk/schematics/BUILD.bazel
  src/cdk/schematics/testing/BUILD.bazel
  src/cdk/schematics/update-tool/BUILD.bazel
  src/cdk/table/BUILD.bazel
  src/cdk/testing/private/BUILD.bazel
  src/cdk/tree/BUILD.bazel
  src/components-examples/cdk-experimental/accordion/BUILD.bazel
  src/components-examples/cdk-experimental/tabs/BUILD.bazel
  src/components-examples/cdk-experimental/tree/BUILD.bazel
  src/dev-app/cdk-experimental-accordion/BUILD.bazel
  src/dev-app/cdk-experimental-tabs/BUILD.bazel
  src/dev-app/cdk-experimental-tree/BUILD.bazel
  src/dev-app/dev-app/BUILD.bazel
  src/material/autocomplete/BUILD.bazel
  src/material/bottom-sheet/BUILD.bazel
  src/material/core/BUILD.bazel
  src/material/core/common-behaviors/BUILD.bazel
  src/material/core/option/BUILD.bazel
  src/material/core/private/BUILD.bazel
  src/material/core/testing/BUILD.bazel
  src/material/datepicker/BUILD.bazel
  src/material/datepicker/testing/BUILD.bazel
  src/material/dialog/BUILD.bazel
  src/material/dialog/testing/BUILD.bazel
  src/material/expansion/BUILD.bazel
  src/material/form-field/directives/BUILD.bazel
  src/material/paginator/BUILD.bazel
  src/material/schematics/BUILD.bazel
  src/material/select/testing/BUILD.bazel
  src/material/sidenav/BUILD.bazel
  src/material/snack-bar/BUILD.bazel
  src/material/snack-bar/testing/BUILD.bazel
  src/material/timepicker/BUILD.bazel
  src/material/tree/BUILD.bazel
  tools/defaults.bzl
Labels: action: merge, target: patch, area: build & ci

#31780 build: enable strict deps enforcement for ts_project
  src/cdk-experimental/accordion/BUILD.bazel
  src/cdk-experimental/accordion/accordion.ts
  src/cdk-experimental/tabs/BUILD.bazel
  src/cdk-experimental/tree/BUILD.bazel
  src/cdk-experimental/ui-patterns/accordion/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/grid-navigation/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-selection/BUILD.bazel
  src/cdk-experimental/ui-patterns/behaviors/list-typeahead/BUILD.bazel
  src/cdk-experimental/ui-patterns/tabs/BUILD.bazel
  src/cdk-experimental/ui-patterns/toolbar/BUILD.bazel
  src/cdk-experimental/ui-patterns/tree/BUILD.bazel
  src/cdk/listbox/BUILD.bazel
  src/cdk/menu/BUILD.bazel
  src/cdk/schematics/BUILD.bazel
  src/cdk/schematics/testing/BUILD.bazel
  src/cdk/schematics/update-tool/BUILD.bazel
  src/cdk/table/BUILD.bazel
  src/cdk/testing/private/BUILD.bazel
  src/cdk/tree/BUILD.bazel
  src/components-examples/cdk-experimental/accordion/BUILD.bazel
  src/components-examples/cdk-experimental/tabs/BUILD.bazel
  src/components-examples/cdk-experimental/tree/BUILD.bazel
  src/dev-app/cdk-experimental-accordion/BUILD.bazel
  src/dev-app/cdk-experimental-tabs/BUILD.bazel
  src/dev-app/cdk-experimental-tree/BUILD.bazel
  src/dev-app/dev-app/BUILD.bazel
  src/material/autocomplete/BUILD.bazel
  src/material/bottom-sheet/BUILD.bazel
  src/material/core/BUILD.bazel
  src/material/core/common-behaviors/BUILD.bazel
  src/material/core/option/BUILD.bazel
  src/material/core/private/BUILD.bazel
  src/material/core/testing/BUILD.bazel
  src/material/datepicker/BUILD.bazel
  src/material/datepicker/testing/BUILD.bazel
  src/material/dialog/BUILD.bazel
  src/material/dialog/testing/BUILD.bazel
  src/material/expansion/BUILD.bazel
  src/material/form-field/directives/BUILD.bazel
  src/material/paginator/BUILD.bazel
  src/material/schematics/BUILD.bazel
  src/material/select/testing/BUILD.bazel
  src/material/sidenav/BUILD.bazel
  src/material/snack-bar/BUILD.bazel
  src/material/snack-bar/testing/BUILD.bazel
  src/material/timepicker/BUILD.bazel
  src/material/tree/BUILD.bazel
  tools/defaults.bzl
Labels: action: merge, target: major, area: build & ci

#31908 docs: apply Angular’s recommended guidelines
  docs/src/app/pages/component-category-list/component-category-list.ts
  docs/src/app/pages/component-page-header/component-page-header.ts
  docs/src/app/pages/guide-list/guide-list.ts
  docs/src/app/pages/guide-viewer/guide-viewer.html
  docs/src/app/pages/guide-viewer/guide-viewer.spec.ts
  docs/src/app/pages/guide-viewer/guide-viewer.ts
  docs/src/app/pages/homepage/homepage.html
  docs/src/app/pages/homepage/homepage.ts
Labels: action: merge, target: minor, area: docs, docs: preview

#31914 feat(material/chips): allow for modifiers to be specified on separator keys
  goldens/material/chips/index.api.md
  src/material/chips/chip-input.spec.ts
  src/material/chips/chip-input.ts
  src/material/chips/tokens.ts
Labels: action: merge, target: minor, area: material/chips, detected: feature

#31904 fix(cdk/scrolling): Fix undefined error when documentElement.style is undefined
  src/cdk/platform/features/scrolling.ts
Labels: action: merge, target: patch, area: cdk/scrolling

#31934 fix(material/menu): switch internal state to signals
  goldens/material/menu/index.api.md
  src/material/menu/menu.html
  src/material/menu/menu.ts
Labels: action: merge, target: patch, area: material/menu

#31924 fix(material/core): remove deprecated APIs for v21
  goldens/material/core/index.api.md
  src/material/core/animation/animation.ts
  src/material/core/datetime/native-date-adapter.ts
Labels: action: merge, target: major, area: material/core, detected: breaking change

#31944 build: update cross-repo angular dependencies
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.material-aio.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-app-main-push.yml
  .github/workflows/dev-infra.yml
  .github/workflows/docs-preview-build.yml
  .github/workflows/docs-preview-deploy.yml
  .github/workflows/google-internal-tests.yml
  .github/workflows/pr.material-aio.yml
  .github/workflows/pr.yml
  .github/workflows/preview-build-dev-app.yml
  .github/workflows/preview-deploy-dev-app.yml
  .github/workflows/scheduled-ci.yml
  MODULE.bazel
  MODULE.bazel.lock
  docs/src/app/pages/component-sidenav/component-sidenav.spec.ts
  docs/src/app/shared/carousel/carousel.spec.ts
  docs/src/app/shared/doc-viewer/doc-viewer.spec.ts
  docs/src/main.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/e2e-app/main.ts
  tslint.json
Labels: action: merge, area: build & ci, area: docs, target: automation
